[2014-07-10 19:39] MikeMillerGIS opened #3 "GetItems GetFolder fails when user does not have any items"
In org, created a new user
User has nothing in the “My Content” component of AGO.
Errors out on the “get content” component
It appears that if a user doesn’t have any folders
If I create a folder, any folder with any name, the script runs find.

[2014-07-22 10:19] #3 closed, assigned to achapkowski

[2014-07-22 17:15] MikeMillerGIS opened #4 "CreateService Example and Support"
Add support to copy one FeatureService from one AGOL to another AGOL.  I believe CreateService is what is required.

http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Create_Service/02r30000027r000000/

[2014-07-24 19:21] mauradaffern opened #5 "Problem with Date Field containing Null Values"
Hello,

This library is fantastic, and it should make working with Server and AGOL via python a lot easier.  I am running into a problem that I am hoping you can help me out with.  I am trying to add features to a feature service using the "_add_feature_from_feature_class.py" script as a sample.  This script works perfectly with most data sources, however my client is working with a dataset that c

[2014-07-25 02:37] #5 closed, assigned to nobody

[2014-08-11 14:37] mauradaffern opened #6 "Documentation for editorTrackingInfo"
Hello,

Do you have any information on the editorTrackingInfo function and the information it returns?

Kind regards,
Maura

[2014-08-11 15:01] #6 closed, assigned to nobody

[2014-08-12 01:39] DShokes opened #7 "Compare+Update Oldest Of Two Or Local Server Replica Sample"
Thank you for creating this great tool! At the moment I am using this to delete all features from a hosted service and add all features from a local master gdb. The script seems to fail around feature number 1600 when I attempt to add thousands of features at once. However, I think it is a REST issue due to timing out.

I'm having a tough time combining some of the samples to match local and hoste

[2014-08-13 09:33] warrieka opened #8 "Update existing feature service with local data"
Can you create an example how to  automate updating a Feature Service in AGOL with a local GDB.
I suppose it should be in this form:
- Drop all features online
- insert al local features into the feature service

[2014-08-13 09:56] #8 closed, assigned to nobody

[2014-08-22 14:10] mauradaffern opened #9 "FeatureLayer Editing on AGS Layer"
Hello,

Do you have any plans to include update, delete and add operations to the AGS featurelayer class?

Thanks,
Maura

[2014-08-25 18:00] #9 closed, assigned to nobody

[2014-10-03 10:28] achapkowski opened #10 "Samples with Toolbox for v2.0.100"
Provide better samples with some common workflows for publishes, managing and modifying hosted online content on either portal or AGOL.

[2014-10-03 10:29] achapkowski opened #11 "Enable logging v2.0.100 and beyond"
Enable logging within ArcREST to provide meaningful feedback on errors and warning.

[2014-10-15 17:45] MikeMillerGIS opened #12 "Enhancement: Rename class and missing class in setup"
Rename ManageAGOL to ManageOrg
Setup is missing HostedServices

[2014-10-15 21:09] MarieAshley opened #13 "Enhancement request for publish_to_agol: Allow publishing of tiled services."
Enhancement request for publish_to_agol: Allow publishing of tiled services.

Sample code:

import arcrest
username, password, mxd, serviceName = "username", "password", "pathtoMXD", "serviceName"
serviceType = "MapServer" #To publish tiles
agoInstance = arcrest.agol.admin.AGOL(username, password)
agoInstance.publish_to_agol(mxd, service_name = serviceName, type = serviceType)

[2014-10-16 13:48] #13 closed, assigned to nobody

[2014-11-08 02:23] pbhattarai opened #16 "Installation error"
I get an error "package directory 'arcrest/manageagol' does not exist. Please help.
![image](https://cloud.githubusercontent.com/assets/9613673/4962902/223ed32c-66ee-11e4-8495-40a8c77419cf.png)

[2014-11-08 02:42] #16 closed, assigned to nobody

[2014-11-10 12:56] #12 closed, assigned to MikeMillerGIS

[2015-01-16 16:30] achapkowski opened #25 "Additional Proxy Support"
Add in support for proxies with username/password:

Somthing like:
pxy_srvr = config.get('PROXY', 'SERVER')
pxy_port = config.get('PROXY', 'PORT')
pxy_user = config.get('PROXY', 'USER')
pxy_pass = config.get('PROXY', 'PASS')
http_proxy  = "http://" + pxy_user + ":" + pxy_pass + "@" + pxy_srvr + ":" + pxy_port
https_proxy = "http://" + pxy_user + ":" + pxy_pass + "@" + pxy_srvr + ":" + pxy_port
ftp

[2015-01-20 22:38] sagewall opened #26 "arcrest.manageags.administration.Log.query() returns all log entries regardless of startTime and endTime parameters"
I am having an issue using the arcrest.manageags.administration.Log class.  I think there may be an issue with line 1268 where the params['startTime'] = endTime.strftime("%Y-%m-%dT%H:%M:%S").  Seems like it should be params['endTime'] = endTime.strftime("%Y-%m-%dT%H:%M:%S").  In any event the function seems to be returning all log entries..

[2015-01-21 11:31] achapkowski commented on #26
What version of ArcGIS Server are you using?
Can you please provide the code that is failing so I can try to reproduce the issue?

Thank you

[2015-01-21 12:49] sagewall commented on #26
Using ArcGIS Server 10.2.

Code below
[code]

When I change the code as described in my original comment the function works as expected limiting the results to be in between the start and end times.

Thanks,
Sage

[2015-01-21 12:54] achapkowski commented on #26
Thanks Sage for this information, I will take a look at this.

[2015-01-21 13:16] achapkowski commented on #26
Issue fixed, please pull the new version.  Thank you for letting us know about this issue.

[2015-01-21 13:16] #26 closed

[2015-01-21 13:30] sagewall commented on #26
Thank you for fixing it so quickly and for this great python package.

[2015-01-29 22:49] Erodenberg opened #27 "Publish Service"
Hey guys,  I'm running into an issue with Publish Item... doc found here:
http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Publish_Item/02r300000080000000/

I get the following error:
PYTHON ERRORS:
Traceback info:
  File "D:\Libraries\Box Sync\Projects\Development\Python\511Sync\511Sync.py", line 130, in publishFeatureService
    result = usercontent.publishItem(fileType="fileGeoda

[2015-01-30 11:28] achapkowski commented on #27
I'll take a look.

[2015-01-30 12:36] achapkowski commented on #27
Looks like the last AGOL update changed how publish worked.  I'm going to push the fixes, please update your repository.
    username = "<username>"
    pw = "<some password>"
    url = "http://www.arcgis.com/sharing/rest"
    itemId = "<item id>"
    sh = arcrest.AGOLTokenSecurityHandler(username=username, password=pw)
    admin = arcrest.manageorg.Administration(url=url, securityHandler=sh)

[2015-01-30 12:36] #27 closed

[2015-02-03 14:26] Erodenberg opened #28 "Error Updating Itme"
Andrew or Mike,

I'm running into an issue on UpdateItem where it returns the following error:

Message	File Name	Line	Position
Traceback
    <module>	<module1>	82
TypeError: updateItem() got an unexpected keyword argument 'itemParameters'

Here is my code...

import datetime, os, sys, time, traceback, uuid
from arcrest import manageorg
import arcrest

#Start Logging
#logMessage("Exporting " + FSt

[2015-02-03 15:21] achapkowski commented on #28
fixed and closed

[2015-02-03 15:21] #28 closed

[2015-02-04 15:39] Erodenberg opened #29 "UpdateItem & PublishItem"
Andrew,  while building this script to hopefully resurrect the ArcGIS for State Government 511 app,  I found an two issues that I was able to fix myself but I wanted to bring to your attention if you would prefer to upload the fix.

In the rest API UpdateItem supports Async=True to asynchronously update a file.  Currently that is missing from the current version of ArcREST.  I was able to add it t

[2015-02-05 17:50] Erodenberg commented on #29
Andrew,  updateItem is also missing the ability to set Overwrite=True as well...

[2015-02-05 17:57] Erodenberg opened #30 "itemData"
I'm seeing an issue where itemData is exporting a completely different set of JSON than I am getting when I go through the Sharing API.

The token on this will probably expire but I get one set of JSON delivered through my browser going directly to this url.

http://esridot.maps.arcgis.com/sharing/rest/content/items/a10c31fb361644ab921a4df095a88da8/data?token=kQizaJIR4VvTvIzSYBbgwCGjA4ASVeodPdiIDc

[2015-02-05 18:41] MikeMillerGIS commented on #29
Overwrite is a property of ItemParameters.

[2015-03-02 21:59] DShokes opened #31 "Samples for calcExpression"
I'm trying to update some fields in a featureLayer based on a local feature class (a copy of the hosted layer).
I'm not sure how to  create the input of calcExpression for many fields besides:
[code]
Is the anything within ArcREST to make calling each field name and value more efficient?

I also looked into updateFeatures but I'm not sure how that would work within my main cursor:

[code]
I am onl

[2015-03-03 02:24] MikeMillerGIS commented on #29
Part of the parameters, closing

[2015-03-03 02:24] #29 closed

[2015-03-03 15:17] achapkowski commented on #31
When you are replacing large amounts of data, you can try the apply edits function, or even replace the data source of the feature service.

To do the replace data source, the workflow goes something liek this:
1. Update your data locally
2. Create an SDDraft file
  a. modify it a bunch to enable editing if needed
3. Create and Upload the SD File using arcpy.mapping tools
4. Publish the SD item on

[2015-03-04 02:09] mgayheart opened #32 "Using AGSTokenSecurityHandler with featurelayer"
This code snippet fails
[code]
the error is related to the referer_url property of securityHandler in featureservice.py:
[code]
From what I can tell, AGOLTokenSecurityHandler has the referer_url property and works ok. Also, If I wrap the offending line in featureservice.py in a try statement, I can move ahead in my script and use the feature service.

I'm not sure if featureservice.py should be ch

[2015-03-04 02:18] MikeMillerGIS commented on #32
I added the property to the AGS security handler.  Can you see if this resolves the issue?  I do not think it is required for AGS, so we can leave the value as null.
e37324eb2965cfc6e12f7a9d1db5f8c03652f2cc

[2015-03-04 03:00] mgayheart commented on #32
That fixed it. Thanks!

[2015-03-04 03:00] #32 closed

[2015-03-05 04:14] DShokes commented on #31
The layer has sync enabled and collector for arcgis users work offline. Wouldnt overwriting break unsynchronizeed replicas?

Also, i realized i was attempting to calculate two fields at once. It was odd the the second field:value succeeded and arcrest ignores the first field:value object. My current workflow involves inserting new hosted features into a local sql server. I then have to update 2-5

[2015-03-06 19:54] MikeMillerGIS commented on #31
Yes, overwriting will break sync, so your only option is to pull down the data, make the changes and update the features using ApplyEdits or Update.  You cannot use a replica as far as I know because a GDB replica is one way.

[2015-03-07 00:43] DShokes opened #33 "returnExtentOnly=True parameter"
Could this be added to layer query please? It was just added at 10.3.
It would be perfect for an exportToPDF tool based setting extent to  the where clause.
Thanks

[2015-03-07 12:53] mgayheart commented on #33
I have been looking for functionality like this for awhile and hope it is exposed through ArcREST as well as the JS API. One caveat to consider, the documentation mentions that the parameter applies only if the supportsReturningQueryExtent property of the layer is true. It doesn't mention how that property is determined (enterprise database?). Also, I believe it is only available for a feature ser

[2015-03-10 03:43] DShokes commented on #33
I believe hosted service layers may be published with supportsReturningQueryExtent : True.
'''javascript
  "currentVersion" : 10.3,
  "id" : 1,
  "name" : "places",
  "type" : "Feature Layer",
  "displayField" : "Name",
  "description": "places"
  "copyrightText" : "dks",
  "defaultVisibility" : true,
  "editFieldsInfo" : {
    "creationDateField" : "created_date",
    "creatorField" : "created_us

[2015-03-11 20:37] MikeMillerGIS opened #34 "Sample"
A sample to query a Feature Layer, determine what features have attachments, update a field with a value and push the updates back to the layer

[2015-03-19 22:38] sirws opened #35 "Group Layers in Map Service causes failure - BUG"
This code:

import arcpy, arcrest
from arcrest.ags import MapService
if __name__ == "__main__":
    try:
        url = "http://sampleserver6.arcgisonline.com/arcgis/rest/services/Water_Network/MapServer"
        fs = MapService(url=url)
        print fs.currentVersion
    except ValueError, e:
        print e

Fails with this error:
Traceback (most recent call last):
  File "C:/Users/scot5141/Docu

[2015-03-19 22:40] #35 closed

[2015-03-23 15:19] DShokes opened #36 "calculate field to null?"
I can't figure out the syntax for setting values to null.
I've tried:
[code]
[code]
[code]

Thanks

[2015-03-23 16:37] DShokes commented on #36
I think I solved it.

[code]
Perhaps arcREST would benefit with a sample using calculate variations of "value" and "sqlExpression" with sqlFormat="native" or "standard"

[2015-03-23 16:37] #36 closed

[2015-03-23 22:08] DShokes opened #37 "List field names of featureLayer"
Is there something similar to arcpy.ListFields? I could see this being helpful when creating feature objects for  updateFeatures. Perhaps returning field.name from featureLayer.fields?

[2015-03-24 01:21] DShokes commented on #37
I suppose this is just as easy:
[code]

[2015-03-24 01:21] #37 closed

[2015-03-24 15:36] achapkowski opened #38 "Create Tile Service Access Classes for AGOL"
Create Tile Service Access Classes for AGOL

See: http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Administering_ArcGIS_Online_hosted_services/02r30000022t000000/

[2015-03-26 23:01] clareprice opened #39 "Replace Tags and Multiple webmaps"
If I have multiple web maps that all share the same services, replace tags are only used to filter the web map, it would be nice to only have to have the replace tags for services once and replaced throughout all webmaps. For example: I am creating 5 maps filtered by surveys assigned to crew. In the json I currently have to a prerequired service, which is not published in the StageApp script. Beca

[2015-03-30 16:54] EsriBrian opened #40 "Bug: GeometryFilter Runtime error - argument mismatch"
I've encountered a bug when attempting to build a GeometryFilter to use as part of a query against a Feature layer. Below is a section of the code that identified the behaviour. The section that is commented out at the bottom of the script will through the error below it if executed.

I've shared the full snippet with Mike, including credentials to services it can be tested against.

Thanks in adv

[2015-03-30 17:06] achapkowski commented on #40
Fixed, please pull latest.  Needed to assign isinstance(<object>, AbstractGeometry )....

Also fixed issue with json decoding on geometry filter.

Thank you,

[2015-03-30 17:06] #40 closed

[2015-03-30 19:23] EsriBrian commented on #40
Thanks for the quick fix Andrew! I've made a fresh pull, but am still having trouble getting the Geometry Filter to create successfully. Any suggestion as to what I'm doing wrong in this line? It's bombing with a new runtime error when I try to create the gfilter object (see bottom). If you have a snippet that uses the GeometryFilter object feel free to just send that if it's easier.

Thanks in ad

[2015-03-30 19:59] MikeMillerGIS commented on #40
Brian
  I think you need to convert the geometry from the result to a geometry object in ArcRest
   ex:  I hard coded the wkid, but get this from the layer
gfilter = GeometryFilter(geometry.Polygon(res.geometry, '102100'),spatialFilter='esriSpatialRelIntersects')

[2015-03-30 21:03] MikeMillerGIS opened #41 "Geometry Filter missing inSR"
When a Geometry filter is applied to a layer, it is expecting a parameter with name inSR from the gemoetryFilter

 if not geometryFilter is None and \
           isinstance(geometryFilter, filters.GeometryFilter):
            gf = geometryFilter.filter
            params['geometry'] = json.dumps(gf['geometry'])
            params['geometryType'] = gf['geometryType']
            params['spatialRela

[2015-03-31 00:30] MikeMillerGIS commented on #41
In testing, it looks like the proper format for that line is
params['inSR'] = gf['inSR']['wkid']

[2015-03-31 12:32] achapkowski commented on #41
I think part of the issue relates to the Feature object because the wkid/spatial reference is not being set on the geometry objects.

[2015-03-31 12:35] #41 closed

[2015-04-02 21:47] DShokes opened #42 "using updateFeatures to update attributes from dictionary"
I can update features from the updateFeatures REST page with the following:
[code]

ArcREST's layer function to updateFeatures only appears to update from fully built feature objects. No error is thrown when the features parameter only contains attributes. updateFeatures succeeds but only returns {'updateResults': []} instead of {'updateResults': [{'objectId': 3325, 'globalId': None, 'success': Tr

[2015-04-03 01:56] DShokes commented on #31
I'm just finishing up a script  the bidirectionally syncs data between a hosted layer and a local sql table. The local source could just as easily be an excel worksheet. Instead of leveraging replicas, it simply compares 2 dicts to accomplish this. Date fields determine which source is updated.

For my purposes, I only add features from hosted to the local source and update features on both source

[2015-04-03 12:24] achapkowski opened #43 "Test Scripts"
In order to ensure the integrity of the package, better test scripts need to be developed to ensure that functionality does not break.

[2015-04-08 09:07] PEmugi opened #44 "getting users list is very slow"
users function in Portals class (arcrest/manageorg/_portals.py) takes about 30 secs.

It seems that urllib2.urlopen(request).read() function waits some response from AGOL...

[2015-04-08 09:17] achapkowski commented on #44
Can you please post your code without passwords/username.

Is this code being run against AGOL or ArcGIS Portal, if portal, can you please provide the version you are using?

Thank you,

Andrew

[2015-04-08 09:35] PEmugi commented on #44
Hi Andrew,
This issue is reproducible using following code.
I
===============================================

import arcrest
handler = arcrest.security.AGOLTokenSecurityHandler('username', 'password')

adm = arcrest.manageorg.administration.Administration('http://ejopendataportal.maps.arcgis.com', handler)
portal = adm.portals('self')
users = portal.users() # <-- It takes about 30 sec.

[2015-04-08 10:24] achapkowski commented on #44
I can confirm the issue.  This appears to be something happening at the AGOL level, not the ArcREST level.
It does take 30+ seconds to perform the operation.

[2015-04-08 10:24] #44 closed

[2015-04-08 10:44] PEmugi commented on #44
I agree with you and I found workaround for this issue.

When "Accept-Encoding" http header is added to the request, this issue is not reproducible.
I will make a pull request about this issue and another issue later.

Thank you,

[2015-04-08 11:26] achapkowski commented on #44
Merged, please update your fork.

Thank you for figuring that out!

[2015-04-08 23:31] ljumbam opened #46 "Make ArcREST available to machines without ArcGIS Desktop"
For my specific case, I will like to use the API to read all the items within an organization and their attributes.

[2015-04-09 11:07] achapkowski commented on #46
This would require a major re-write of the package, since many parts of the package are hinged to ArcPy.  I have thought about doing ArcREST without ArcPy components, but when this package started out a decision was made to include ArcPy as a requirement.  In addition, I must consider the impact of moving ArcPy outside the package now since it would break user/developers code.  It's something that

[2015-04-13 13:22] achapkowski opened #47 "Port to Python 3"
There is a need to port ArcREST to Python 3 to support ArcGIS Pro users.

I'm looking for porters to help us out!  Anyone interested respond of this thread.

Andrew

[2015-04-18 00:20] DShokes opened #48 "OAuth2 for Layer in ArcMap"
Is there an example of how to pass signin credentials for arcmap?
My script makes pdf export from feature services in an mxd. Currently, I must manually sign in on the arcmap credentials popup and keep an instance of ArcMap open. Otherwise, my script fails. I'm currently using AGOLSecurityHandler for other purposes but I'm not sure where to put OAuthSecurityHandler when opening an mxd. I've got a

[2015-04-20 11:53] achapkowski commented on #48
Though this is not an ArcREST issue, you can try the following workflow (I have not tested this).

Using the WebMap JSON, create a map document and an operational layer.  On the operational layer url, include the token (?token=<some token>) and I **think** that will solve your issue.

Hope this helps.

[2015-04-20 12:07] achapkowski commented on #48
Just an FYI, I just took the JSON from one of the samples is the REST API:

Here is a working sample that worked for me:

text = """{"operationalLayers":[{"url":"<some AGOL featureService URL>?token=< TOKEN>","id":"STATES_OUTLINE_717","visibility":true,"opacity":0.78,"mode":1,"title":"States Outline","layerDefinition":{"drawingInfo":{"renderer":{"type":"simple","symbol":{"color":[108,151,203,0],"o

[2015-04-20 12:07] #48 closed

[2015-04-24 01:54] DShokes commented on #48
Great advice. In the end, I added OAuthSecurityHandler(client_id=<X>,secret_id=<Y>) to the begining of the script and the credential popup stopped appearing. Not 100% this was what fixed it, but I'm not touching it while its working!

[2015-04-27 18:44] AlexArcPy opened #49 "An exception thrown when trying to query table within AGOL feature service"
Consider a hosted feature service with two objects - layer id 0 is of type Feature Layer, and layer id 1 is of type Table. Trying to run the sample https://github.com/Esri/ArcREST/blob/master/samples/query_agol_service.py will throw an exception:
[code]
It seems as it cannot find spatial reference for the table (when trying to return a featureset from a JSON string - fromJSON method of FeatureSet)

[2015-04-27 20:24] MikeMillerGIS commented on #49
resolved

[2015-04-27 20:24] #49 closed

[2015-04-28 03:34] AlexArcPy opened #50 "Feature set is empty when querying AGOL hosted feature service with table"
Consider a hosted feature service with Feature Layer and Table. Trying to run the sample https://github.com/Esri/ArcREST/blob/master/samples/query_agol_service.py (with a public example feature service URL: http://services.arcgis.com/eSnyVpqwqWBADfzp/ArcGIS/rest/services/Household_size_for_water_quantity/FeatureServer) will return a feature set with fields (schema), but with no features (data).
[c

[2015-04-28 03:43] MikeMillerGIS commented on #50
I am not able to repo, can you post your entire script
![image](https://cloud.githubusercontent.com/assets/2707285/7362465/3d229c44-ed37-11e4-9645-22221724a36c.png)

[2015-04-28 03:58] AlexArcPy commented on #50
[code]

[2015-04-28 09:56] achapkowski commented on #50
Maybe this full example will help:  I cannot reproduce your issue as well.  Please see the example below.

from arcrest.security import AGOLTokenSecurityHandler
from arcrest.agol import FeatureService
from arcrest.common.filters import LayerDefinitionFilter

if __name__ == "__main__":
    url = r"http://services.arcgis.com/eSnyVpqwqWBADfzp/ArcGIS/rest/services/Household_size_for_water_quantity/Fea

[2015-04-28 11:22] AlexArcPy commented on #50
Thanks for taking a look. After downloading the latest source (mine was a couple of days old), it works as expected. Please close the issue.

[2015-04-28 13:04] #50 closed

[2015-05-01 04:26] guyn2gis opened #51 "Portal Token Security Handler"
So, for the url for this Class, are we suppose to provide the Rest path, or the Portal path.  The sample url shows www.arcgis.com (which is AGOL), but I have tried both the Rest path and Portal path for an internal portal. and both are triggering errors.  Hopefully I am doing this right.  I am using your sample from  ArcREST/samples/generate_portal_server_token.py

error on line: line 30
error in

[2015-05-01 04:42] guyn2gis commented on #51
Also, line 13 you need to import sys
import traceback, inspect
tb  = sys.exc_info()[2]

[2015-05-01 15:27] achapkowski commented on #51
Please take a look at this:
http://anothergisblog.blogspot.com/2015/04/arcrest-basics-authentication.html

[2015-05-01 23:35] guyn2gis commented on #51
Cool, thanks Andrew. That will be helpful.  I am also learning github so I apologize for my ignorance.

[2015-05-04 15:44] #51 closed

[2015-05-04 15:47] achapkowski commented on #42
Thank you for the suggestion.  We will consider it for the next major release, but at this time, we will not add this feature.  I am going to go ahead and close this issue.

[2015-05-04 15:47] #42 closed

[2015-05-04 15:47] achapkowski commented on #7
Is this still an issue?

[2015-05-06 02:07] geoffreywestGIS opened #52 "ArcREST PublishCSVParameters error"
I am consistently receiving this error when trying to publish a CSV as a hosted service.

{u'error': {u'message': u'Unable to publish item.', u'code': 400, u'details': [u"'publishParameters' must be specified."]}}

The script that I am passing is below;

import arcrest

if __name__ == "__main__":
    username = ""
    password = ""
    portalId = ""
    url = "http://www.arcgis.com/sharing/rest" #

[2015-05-06 17:13] DShokes commented on #33
I wrote two functions:
[code]
1. retrieveflQueryExtent finds the extent of features from a query and returns in a format similar to arcpy extent.
2. pickLayout finds the best page layout for the purpose of exporting the map.

Hope this helps.

[2015-05-06 17:17] DShokes commented on #7
No this issue was resolved once I removed version 1 from the python environment.

[2015-05-06 17:17] #7 closed

[2015-05-06 17:54] geoffreywestGIS opened #53 "ArcREST addItem error in ArcGIS Online"
When accessing the added item in AGOL a general error message appears i.e
It is a CSV; the error that is returned

Error retrieving file from http://myorg.maps.arcgis.com/sharing/content/items/a935aa00f237477ba9912ca2bd32b79d/data?token=AYJwMLSoVIlx7LzbY_vcFNMb9yZ6wyutOARMXSKQd21g17xNE96bqzMBns97ySZlYr2nXVhAHBWxldT57NKS5HCL1i8xFyDYVLPBoVzZqer1VzcbeOVSBSdo8xzoCyzWRY8b5iNRKhow4oeD6Mlg5w..

The item

[2015-05-06 17:56] achapkowski commented on #53
What type of item is it?
Can you please post your code?

Thank you

[2015-05-06 23:36] guyn2gis opened #54 "Limits on Posts to Feature Service in AGOL"
Is there a known limit on how many features can be posted to a feature service?

Also, when running the tool, I seem to recall if I post 500, it prints that 200 are posted, but if I verify using Pro to Select the data in AGOL, 500 have in fact been posted.  For my next update I will take a screen shot of this behavior.

[2015-05-06 23:37] guyn2gis commented on #54
I am using the tool from the toolbox to post features to a service.

[2015-05-07 15:09] blordcastillo opened #55 "arcrest.agol.layer.FeatureLayer.query fails when returnGeometry=False"
Executing
`fl.query(where="1=1",out_fields='OBJECTID_1,ZIPNUM,OUTAGE,SERVED,UP,PercentOut,Updated',returnGeometry=True)` succeeds.
But
`fl.query(where="1=1",out_fields='OBJECTID_1,ZIPNUM,OUTAGE,SERVED,UP,PercentOut,Updated',returnGeometry=False)` fails:

	Traceback (most recent call last):
	  File "<pyshell#37>", line 1, in <module>
		fl.query(where="1=1",out_fields='OBJECTID_1,ZIPNUM,OUTAGE,SERVE

[2015-05-07 15:22] MikeMillerGIS commented on #55
resolved, please verify

[2015-05-07 15:26] blordcastillo commented on #55
Error gone. Query working correctly.

[2015-05-07 15:26] #55 closed

[2015-05-08 19:16] DShokes commented on #54
Does your service have attachments? I've experienced some oddities if there are attachments such as edits being applied individually per feature vs in bulk without attachments. Just a thought that the count difference could be due to layer edits and attachment edits counting separately.

[2015-05-09 00:42] guyn2gis commented on #54
Interesting.  It does have attachments, so i will have to think about that and see if that is the cause.  I will continue to test.  Currently the tool stopped working as of last night, which I need to now figure out why.

[2015-05-12 11:32] achapkowski commented on #54
I'm not sure about posts, but I've seen situations where the deletes can fails if over 1000 features per request.  You might be hitting the same situation.

[2015-05-13 00:51] guyn2gis commented on #54
I am thinking that is probably the issue, I will have to play around with different totals to figure out the limit.  The total count was less than 900, but less than 1,000

[2015-05-15 23:13] DShokes opened #57 "Sample To Copy/Move a Feature Service with Features"
The idea to would be to make an exact copy of an existing feature service with features and attachments intact. The status of publishing would have to be checked so the new service layers are ready to receive the copied features/attachments.
The current feature service,  admin connection (arcrest.manageorg.Administration), and new feature service name would be main inputs. This would allow service

[2015-05-15 23:26] DShokes commented on #52
What does arcrest.manageorg.PublishCSVParameters(name="csvTest", locationType="none", layerInfo=layerInfo) return for you?

[2015-05-15 23:50] geoffreywestGIS commented on #52
I think that my error is related to issue #53.  When accessing my added item, I receive;

Item does not have a file.

Error: 500

Which leads me to think publishParameters = arcrest.manageorg.PublishCSVParameters(name="csvTest", locationType="none", layerInfo=layerInfo) is referencing an empty file.

[2015-05-18 11:40] achapkowski commented on #53
Please see the sample below and pull the latest.  This publishes without error.

    import arcrest

    if __name__ == "__main__":
        username = "some username"
        password = "some secure password"
        csv_file = r"C:\temp\book1.csv"

        sh = arcrest.AGOLTokenSecurityHandler(username, password)
        admin = arcrest.manageorg.Administration(securityHandler=sh)
        content

[2015-05-18 11:40] #53 closed

[2015-05-18 11:41] achapkowski commented on #52
See: https://github.com/Esri/ArcREST/issues/53

[2015-05-18 11:41] #52 closed

[2015-05-18 11:42] achapkowski commented on #54
I don't think this is an issue we can address as the ArcREST level.

[2015-05-18 11:42] #54 closed

[2015-05-18 17:02] geoffreywestGIS opened #58 "Overwrite CSV file Issue"
When referencing closed issue #53, I receive a 409 error which indicates the actual CSV that I am attempting to add exists.  While ip.overwrite is set to true.

{'error': {'message': "Item 'csp_encampment_4_20_15.csv' already exists.", 'code': 409, 'details': []}}

[2015-05-18 21:37] guyn2gis commented on #54
No problem, you can close the issue,  will report back once I know the
limits

On Mon, May 18, 2015, 4:42 AM Andrew <notifications@github.com> wrote:

[2015-05-19 17:20] geoffreywestGIS opened #59 "AttributeError: 'module' object has no attribute 'AnalyzeParameters'"
See issue # 53, when using the provided code sample the error returns,
   analyzeParams = arcrest.manageorg.AnalyzeParameters()
AttributeError: 'module' object has no attribute 'AnalyzeParameters'

code that I am using;

import arcrest

if __name__ == "__main__":
    username = ""
    password = ""
    csv_file = r"C:\Users\GeoffreyWest\Desktop\bing_output.csv"

    sh = arcrest.AGOLTokenSecurityH

[2015-05-20 11:06] achapkowski commented on #59
Do you have the latest version of ArcREST?

It's in there: https://github.com/Esri/ArcREST/blob/master/src/arcrest/manageorg/parameters.py

[2015-05-20 15:36] geoffreywestGIS commented on #59
Yes, the error no longer appears, can you provide an example of how ['layerinfo'] should be structured?

[2015-05-20 15:38] achapkowski commented on #59
See: http://resources.arcgis.com/en/help/arcgis-rest-api/#/Layer/02r30000004q000000/

Andrew Chapkowski | Professional Services
esri | 1325 Morris Drive, Suite 201 | Chesterbrook, PA 19087
Phone: 610-644-3374 ext. 5930 | E-mail: achapkowski@esri.com<mailto:achapkowski@esri.com>

[DevA_EDDA]

From: Geoffrey West [mailto:notifications@github.com]
Sent: Wednesday, May 20, 2015 11:36 AM
To: Esri/ArcRE

[2015-05-20 15:58] geoffreywestGIS commented on #59
Not sure why it's not publishing, print usercontent.publishItem(fileType="CSV",  does not print a result, and addItem fails intermittently. With error 500 as mentioned in issue # 53, this error seems to be dependent of the publishing section of the script.
                              publishParameters=publishParams,
                              itemId=itemId)

my ['layerinfo'] is a json that I

[2015-05-20 16:07] MikeMillerGIS commented on #59
I would suggest installing Fiddler and walk through the process using ArcGIS Online or Portal and see what differs from the calls you are making in ArcRest.  Can you post the entire scripts and a sample CSV that we can use to repo the issue?

[2015-06-05 21:13] brianjbaldwin opened #61 "ArcREST/src/arcrest/agol/__init__.py No Module named helperservices"
Throwing an error, no module named helperservices

[2015-06-05 21:22] MikeMillerGIS commented on #61
Can you post the entire error message?

[2015-06-06 00:35] MikeMillerGIS commented on #61
@brianjbaldwin I just ran through it and the import works correctly, make sure you have the most current version downloaded and installed.  If you have a version relative to your script, it will load that first.  To verify, make sure you have the files as shown in this image

![Uploading image.png…]()

[2015-06-06 00:35] #61 closed

[2015-06-08 12:55] MikeMillerGIS commented on #61
@brianjbaldwin @achapkowski The install was missing the path to the helperservices, I added it this AM, please test the install and verify it is working.

[2015-06-10 22:27] caleband opened #62 "zip export issue and credential issues"
This is my first attempt at using ArcREST and python to interact with ArcGIS Online content. I am trying to use Andrew's script (http://anothergisblog.blogspot.com/2014/10/using-arcrest-to-export-hosted-feature.html) to download a feature service with related data but am running into issues depending on the parameters I use.

Issue #1 - If I set itemData(f="zip"..., the script successfully downloa

[2015-06-11 00:20] MikeMillerGIS commented on #62
Can you try this sample and see if you get the same results?  This sample does exactly what you are looking to do.
https://github.com/Esri/ArcREST/blob/master/samples/create_replica_portal_item.py

[2015-06-11 00:22] MikeMillerGIS commented on #62
also, for your url to your org, just use "http://salem.maps.arcgis.com"

[2015-06-19 21:16] pLeBlanc93 opened #63 "typo in "attribute not implemented""
![implemented](https://cloud.githubusercontent.com/assets/12817527/8263222/869db974-168d-11e5-98c3-0d7d3f10497a.PNG)

Instances of implemented in /src/arcrest/ are spelled *implmented*

[2015-06-21 10:54] lvdburgt opened #64 "special character retrieval in item data"
hi,

in my workflow I create new operations views based on a template AGOL item. In run into an issue where special characters are encoded while reading the json.

When I create the new operations view object based on the template, I would like to store the euro-sign in the json data like the snippet below. Not in encoded form.
The encoded character storage will lead to problems in windows dashboa

[2015-06-22 10:23] achapkowski commented on #64
This is something I will look into and try to put it in the next release.  Thank you for the suggestion.

[2015-06-22 14:00] #63 closed

[2015-06-24 13:17] Mause commented on #47
First question; are you willing to use `six`, a compatibility library? It should remove the need for most of `compat.py`

[2015-06-24 17:22] caleband commented on #62
@MikeMillerGIS
Thanks for the reply. I tried what you suggested an encountered the following:
I added "import sys" after the 1st attempt (didn't think this would be important but thought I might as well give all the details)

Python 2.7.5 (default, May 15 2013, 22:43:36) [MSC v.1500 32 bit (Intel)] on win32
Type "copyright", "credits" or "license()" for more information.

Traceback (most recent ca

[2015-06-26 08:14] jpdeboos opened #65 "Erase all items Failed to execute"
Hi,

I use ArcRest Toolbox. I have a problem with Erase all items tool since several month. i have this message
scriptDeleteUserContent...
error on line: line 73
error in file name: C:\Users\jpdeboos\Documents\ArcGIS\ArcREST-July15Release\tools\src\deleteUserContent.py
with error message: KeyError: 'items'
Completed script scriptDeleteUserContent...
Failed to execute (scriptDeleteUserContent).

I

[2015-06-26 14:18] MikeMillerGIS commented on #65
I am not able to reproduce the issue.  Can you provide more details?  Can you verify you have the most current ArcRest installed.

Are you using Portal or Online?

[2015-06-26 14:31] jpdeboos commented on #65
I have this message. I use Online.

![capture](https://cloud.githubusercontent.com/assets/11091452/8379506/c8835f4a-1c20-11e5-83b6-fd08962eb7e8.PNG)

Tks

[2015-06-26 14:39] MikeMillerGIS commented on #65
I am not able to reproduce it, can you run the process in debug mode and let me know what 'c' is on line 72.  It should look similar to this:
{'username': 'USERNAME', 'currentFolder': {'username': 'USERNAME', 'title': 'segg', 'id': 'e01be9b1feb14f8d985dea3bfa814edf', 'created': 1435329474000L}, 'nextStart': -1, 'items': [], 'start': 1, 'num': 0, 'total': 0}

[2015-06-26 14:40] jpdeboos commented on #65
I use the last version (july 2015). We use ArcGIS Online in french.

[2015-06-30 23:48] DShokes opened #66 "Create/Modify/Delete Relationships"
Now that relationships are supported in Collector for ArcGIS and soon the online map viewer, being able to modify the relationships in a hosted service would be powerful and could prevent having to republish.

This can be done on feature layers through updateDefinition, but has to be done on both layers properly. For example if you wanted to create a 1:M relationship with Layer0's GlobalID as the

[2015-07-01 20:01] achapkowski commented on #66
Good suggestion, we are thinking about what it would take to do this.  It would most likely have to be in the arcresthelper package not arcresthelper itself.  We will keep you posted.

[2015-07-13 16:52] achapkowski commented on #47
updated the web functions, but waiting for the new version of the security handlers.
- post, get, download, and multipart post done.

[2015-07-15 20:54] DShokes commented on #4
I'm curious if there has been any progress on being able to create a feature service. I was toying with publishserviceparameters but did not see a way to provide the service and layer definition in a single string of json. It would be awesome to create a service from just json, without needing to put that definition in an sd file.

Most of my services are nearly identical to each other with minor

[2015-07-15 23:03] ajturner commented on #4
These docs may be useful

- [Create Feature Service](http://resources.arcgis.com/en/help/arcgis-rest-api/index.html?root.html#/Create_Service/02r30000027r000000/)
- [Add to Layer Definition](http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Add_To_Definition_Feature_Layer/02r300000228000000/)

[2015-07-16 03:07] MikeMillerGIS commented on #4
punched up the sample tonight - https://github.com/Esri/ArcREST/blob/SecurityHandler_Token/samples/copy_feature_service_def.py

it is only in the security handler branch, which is functional, just not fully tested.

[2015-07-24 13:58] #43 closed

[2015-07-31 22:06] mgayheart opened #68 "Downloading CSV"
In ArcREST\src\arcrest\manageorg\_collection.py: line 993 of method itemData does some type checking and on line 996 checks for "CSV". I think it also needs to check for "CSV Collection" so feature services can be downloaded as a zip file of csv files for each layer. I don't know if "CSV" is a valid type also or if it should just be changed to CSV Collection.

[2015-08-03 23:51] DShokes commented on #66
You might want to hold off on this for a moment. Hosted services with 3 or more 1:m relates chaining 4 or more layers currently fail replica creation if createReplica contains layer id's in particular configurations. I.e setting layer id's to {0,1,2,3} may work but not {1,2,3,0}. It fails for about a quarter of the possible orders.

[2015-08-10 21:50] chadcooper commented on #62
@caleband I too experienced the same issue where my zip would get created, but would not come down all the way. I feel that my issues were related to the size of the feature service and resultant FGDB. At first, it was under 300MB (the zip) and things worked fine. After a bit the database grew to over 500MB and I started seeing the same issues as you. Two things I did that made this work for me we

[2015-08-12 15:40] caleband commented on #62
Thanks Chad... based on your suggestion I revisited my script but it was failing because of an issue with this line: "item = admin.content.getItem(itemId) (which wasn't happening before). I assumed it was time to download the latest ArcREST module (seeing how some updates were made to AGOL) and did so but am now getting another error "TypeError: sequence item 0: expected string, NoneType found"

I

[2015-08-12 15:51] MikeMillerGIS commented on #62
item = admin.content.getItem(itemId) was added recently in version 3.  Version 3 is not completely stable at the moment.  We are actively working on it.  Please look at version for the last stable copy.

What is the issue you are encountering now?  If it is a bug with v3, I would like to get it resolved.

[2015-08-12 22:26] caleband commented on #62
Mike,
Guess I should have waited on v3. This issue I'm having is with the sample script suggested above:

https://github.com/Esri/ArcREST/blob/master/samples/create_replica_portal_item.py

I am receiving the following error:

error on line: line 33
with error message: TypeError: sequence item 0: expected string, NoneType found

When installing the ArcREST module, are older versions of the module a

[2015-08-13 03:30] #68 closed

[2015-08-13 12:59] MikeMillerGIS commented on #62
Thanks for letting me know.  I fixed and tested the sample

[2015-08-13 14:47] caleband commented on #62
I tried the sample and received the following error:

error on line: line 48
with error message: TypeError: sequence item 0: expected string, NoneType found

I'm still using module v3. Should I be using the older stable version?

[2015-08-13 15:36] MikeMillerGIS commented on #62
This sample is using the securityhelper from ArcRestHelper.  Do you have that pull down too?  Without seeing what is going on, it is hard to tell what is the issue with the sample.  It works fine for me when I provide my username, password and item id.

[2015-08-13 16:38] caleband commented on #62
I'm not a python pro but could it have something to do with the fact that I have to add "import sys" at the beginning of the script? Just seems weird. Anyways, I checked and re-checked that the module (v3) is installed correctly (removed all ArcREST files and documents from Python27 directory and re-installed via cmd).

Here's the line that's giving me trouble:
shh = securityhandlerhelper.security

[2015-08-14 03:43] mgayheart opened #72 "featureservicetools.GetFeatureService looks for wrong property on item"
in GetFeatureService there is a check "if item.itemType == ...". There is no property itemType. It should read item.type ==.

[2015-08-14 19:08] #72 closed

[2015-08-26 17:11] luapknarf opened #74 "AttributeError: 'Content' object has no attribute 'usercontent'"
Hello,

I am new to ArcRest and somewhat new to github so please bear with me.  The sample python code for uploading csv files looks promising, but I running into this error.

Also, I am not acquainted with how to go about using the documentation for ArcRest nor can I find a lot about that.  Perhaps it is due to my lack of experience on github but I would welcome any pointers.

I was also hoping t

[2015-08-26 17:15] MikeMillerGIS commented on #74
The sample has not been updated to version 3, I will get it updated later for you.

[2015-08-26 18:49] MikeMillerGIS commented on #74
Created a new sample to highlight how to add an item.
https://github.com/Esri/ArcREST/blob/master/samples/add_item.py

[2015-08-26 18:49] #74 closed

[2015-08-27 04:54] ej-smochizuki opened #75 "Failure at create_groups_from_csv"
I tried to execute 'sample/create_groups_from_csv.py',
but failed with the message like below.

	error on line: line 40
	error in file name: C:\esriGitHub\ArcREST-master\samples\create_groups_from_csv.py
	with error message: TypeError: __init__() got an unexpected keyword argument 'username'

It seems that orgtools.orgtools requires 'securityinfo' at 'securityhandlerhelper'.
So I modified code lik

[2015-08-27 09:45] trillevine opened #76 "create_replica_fs.py - proxy information syntax"
Hello,

I'm trying to test out the create_replica_fs.py sample on a valid hosted service, but am getting an error:

![error](https://cloud.githubusercontent.com/assets/7161139/9515414/afc184d0-4ca1-11e5-84b5-ec58ab83de5e.PNG)

I'm pretty sure this is a proxy problem.  I've been testing out another script for this which is working and uses a urllib2 proxy handler.  That code looks like this (with r

[2015-08-27 12:12] MikeMillerGIS commented on #76
You need to specify the proxy and port when you create the security handler.

Here are the parameters for the ArcGIS Online security handler

                 username,
                 password,
                 org_url ="https://www.arcgis.com",
                 token_url=None,
                 proxy_url=None,
                 proxy_port=None

[2015-08-27 12:41] MikeMillerGIS commented on #75
I updated the sample this morning to support version 3 of ArcRest.

[2015-08-28 00:36] ej-smochizuki commented on #75
I appreciate your quickly updating.
I tried to execute new sample, and the sample seemed to be run correctly.
Thank you.

[2015-09-01 18:01] achapkowski opened #77 "TODO List"
Here is my public to do list: (this will grow and shrink as needed)

   - support all geometry types (arcs, curves, etc..)
   - wkt/wkid support in spatial reference

Feel free to add/comment/suggest ideas.

[2015-09-02 08:03] trillevine commented on #76
Hi Mike,

Thanks for your response...unfortunately, that doesn't really clarify much for me.  I'm still not sure what exactly the content and syntax of the proxy_port and proxy_url variables (lines 13 and 14 in the sample) need to be (see my initial issue).  Also, do I need to do anything for token_url in the security handler?  Right now it looks like this:

[code]

Thanks again for your help!

[2015-09-02 10:43] MikeMillerGIS commented on #76
Try http://user:pw@ipAddress for proxy URL and 8080 for the port

[2015-09-02 10:44] MikeMillerGIS commented on #76
Unless you changed you toke end point, leave token URL blank

[2015-09-08 13:05] MikeMillerGIS commented on #76
Going to close the issue.  If the above suggestion does not resolve the issue, please reopen or create a new issue.

[2015-09-08 13:05] #76 closed

[2015-09-08 13:05] MikeMillerGIS commented on #75
Closing

[2015-09-08 13:05] #75 closed

[2015-09-10 15:00] AlexArcPy opened #78 "How to update a specific feature in a feature service?"
The workflow is: 1) fetch features from the FS layer 2) make updates with arcpy locally 3) push the updated feature back to the FS layer. In part 3) - How to specify what feature should be updated?

The source code of the updateFeature:
[code]
How to specify that I want to update only a certain feature? What is the unique ID field that is used to match the features?

[2015-09-10 16:05] MikeMillerGIS commented on #78
Take a look at this horribly named sample I made.  I need to rename it.
https://github.com/Esri/ArcREST/blob/master/samples/remove_adds_rows_to_service.py

[2015-09-10 16:11] AlexArcPy commented on #78
Thanks @MikeMillerGIS! It seems as the features will be deleted first and then added (if use RemoveAndAddFeatures). Is there any way to update only the geometry (SHAPE) and attributes of the feature without actually deleting it first? Or am I getting it wrong?

[2015-09-10 16:13] MikeMillerGIS commented on #78
No using this sample.  Try this sample
https://github.com/Esri/ArcREST/blob/master/samples/update_features.py

[2015-09-10 16:37] AlexArcPy commented on #78
Excellent, @MikeMillerGIS, I am able to update the feature's attribute. What about updating the geometry of a feature? What would be the most straightforward way to do this? `set_value` is only for

`""" sets an attribute value for a given field name """`

[2015-09-10 18:20] MikeMillerGIS commented on #78
Set value works for geometry

def set_value(self, field_name, value):
        """ sets an attribute value for a given field name """
        if field_name in self.fields:
            if not value is None:
                self._dict['attributes'][field_name] = _unicode_convert(value)
                self._json = json.dumps(self._dict, default=_date_handler)
            else:
                pass

[2015-09-11 08:51] AlexArcPy commented on #78
Thanks @MikeMillerGIS. Works great now. I've used
[code]
I filter the returned features and features to import based on the shared unique ID field which makes it possible for me to specify which specific feature should be updated. Thanks again for the help.

[2015-09-11 08:51] #78 closed

[2015-09-15 17:30] cameronezzi opened #79 "Changed behaviour after Recent AGOL Update"
I noticed that there was a change to 'ArcREST/src/arcrest/manageorg/_content.py' made 6 days ago with the description "added parameter to update an item's URL." At some point since this update, and the AGOL update I have seen a change in behaviour.

Previously if I made an update to a Hosted Feature Layer including Description changes, the Feature Layer would be updated but there would be no chang

[2015-09-16 00:04] MikeMillerGIS commented on #79
Could you share some screen shots and better explain your issue?  I am not sure I understand.

[2015-09-17 03:29] cogg-dave opened #80 "Content object error"
Hi there, I'm a newbie to ArcREST and trying get the sample 'publish_sd_to_service.py' running
and getting the following error. I've managed to get everything up to here running okay but I'm held
up at this error. As far as I can tell I'm using the latest version which I downloaded yesterday so
any help with this would be much appreciated.

Cheers
Dave

Traceback (most recent call last):
  File "C

[2015-09-17 03:48] MikeMillerGIS commented on #80
That sample was recently updated.  Usercontent does not exist in v3.  Take a look at the updated version

[2015-09-17 05:04] cogg-dave commented on #80
Thanks Mike, found it. I'm now getting the following error for the users:

Traceback (most recent call last):
  File "C:\ArcREST\scripts\UpdateService.py", line 35, in <module>
    users = content.users()
TypeError: 'Users' object is not callable

Also, where do I find the ItemId for the existing SD on AGOL ?

Thanks
Dave

[2015-09-17 12:57] MikeMillerGIS commented on #80
I fixed the sample, few bugs in it.  Also added the support for when an item is in a folder, you need to list the folder name

To get the SD item, you can search for it using arcrest.find.search or manually get it by finding the item in a web browser and getting the item ID from the url
![image](https://cloud.githubusercontent.com/assets/2707285/9933600/ef8c56f2-5d19-11e5-8900-a7b741f565e3.png)

[2015-09-18 00:45] cogg-dave commented on #80
Thanks Mike, I'm nearly there, just getting this error on the last line:

Traceback (most recent call last):
  File "C:\ArcREST\scripts\PublishSdtoService.py", line 51, in <module>
    print user.publishItem(fileType="serviceDefinition", itemId=itemId, publishParameters=params)
AttributeError: 'function' object has no attribute 'publishItem'

Cheers
Dave

[2015-09-18 01:04] MikeMillerGIS commented on #80
Can you post your entire script?

Sent from my Verizon Wireless 4G LTE DROID

[2015-09-18 01:15] cogg-dave commented on #80
Sure, here you go. Pretty much the same as the sample, just removed some non-relevant bits:

import arcrest

if __name__ == "__main__":
    #   Inputs
    #
    username = "xxxxxx"
    password = "xxxxxx"
    orgurl = "http://xxxxx.xxxxx.arcgis.com"
    itemId = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
    token_url = None
    proxy_url = "x.x.x.x"
    proxy_port = "8080"
    itemFolder = None # If you item i

[2015-09-18 01:26] MikeMillerGIS commented on #80
Missing the () after .user

user = users.user<http://users.user>()

Sent from my Verizon Wireless 4G LTE DROID

[2015-09-18 01:38] cogg-dave commented on #80
Yes, I'd already tried that but was getting a large spool of errors when adding my username as the arg
as per the sample:

Traceback (most recent call last):
  File "C:\ArcREST\scripts\PublishSdtoService.py", line 40, in <module>
    user = users.user(username)
  File "C:\Python27\ArcGIS10.3\lib\site-packages\arcrest\manageorg\_content.py", line 195, in user
    initalize=True)
  File "C:\Python27

[2015-09-18 01:47] cogg-dave commented on #80
Should've included this last part of the error:

URLError: <urlopen error [Errno 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

[2015-09-18 12:35] jesegal commented on #80
Does this require admin credentials?
Would be nice to see a working solution for publisher credentials..

[2015-09-18 13:48] MikeMillerGIS commented on #80
Definitely looks like a http error, not really sure.  Is the proxy info correct?  Do you use a proxy server to access the internet in your environment?  Can you try it on your home network or somewhere that does not use a proxy?

[2015-09-19 02:03] cogg-dave commented on #80
Hi, yes I do have a proxy and was originally having issues until I included these in the initial connect so I assume it's all good there. What's the best way to check the 'content' and 'users' objects to ensure they've been instantiated correctly ? Yes, I'd like to test it from home but I'm guessing I'd need to install ArcGIS desktop to enable access to arcpy unless there's a shortcut around doing

[2015-09-19 13:26] MikeMillerGIS commented on #80
You could use a debugger and walk into the function and find out where it is breaking.

Sent from my Verizon Wireless 4G LTE DROID

[2015-09-21 00:25] cogg-dave commented on #80
Hi Mike, I've stepped through the code from the point where it tries to retrieve the user object,
user = users.user(username=username)

The first of the errors is occurring from a point where most of the work is done and it's attempting to make a socket connect to various addresses without any success. I assume it's not using a proxy at this stage so its failing. The following is the first attempt

[2015-09-21 10:26] MikeMillerGIS commented on #80
I am really not sure.  I might be good to develop a very simple python script to test your proxy and internet access.

Sent from my Verizon Wireless 4G LTE DROID

[2015-09-22 05:24] cogg-dave commented on #80
All sorted Mike, I've connected straight to the net, avoiding our firewall, and the script runs fine.
Must be the firewall blocking it somewhere so I'll chase it up with our network guys.
Cheers

[2015-09-22 10:31] #80 closed

[2015-09-24 21:59] blairdgeo commented on #46
:+1:  for a version minus ArcPy dependency.  This would be nice for cloud devops jobs which need to mainly startup or terminate services and various items.  Thank you for listening :)

[2015-09-24 22:05] ajturner commented on #46
+1 for major version change that pulls out ArcPy dependencies. This would be useful for cross platform scripts as well as Django/Flask web apps.

[2015-09-25 10:59] achapkowski commented on #46
We will start taking a look at this.

I like the idea of a Django/Flask web application, this could be part of a large solution to manage one's AGOL, Portal or AGS site.

[2015-09-25 11:00] achapkowski commented on #10
closed, sample in samples folder

[2015-09-25 11:00] #10 closed

[2015-09-25 11:00] #11 closed

[2015-09-25 11:03] #65 closed

[2015-09-25 11:05] achapkowski commented on #58
Some items in AGOL/Portal do not honor the overwrite.  You'll have to manually check if the item exists on your site.  This is most likely a software product issue (AGOL/Portal) not an ArcREST issue.

[2015-09-25 11:05] #58 closed

[2015-09-25 11:06] achapkowski commented on #39
This would be an enhancement for the arcresthelper.
@MikeMillerGIS would be the best option to address this issue.

[2015-09-25 11:07] achapkowski commented on #59
No code posted or fiddler traffic, issue closed.  Please feel free to post your issue again.

[2015-09-25 11:07] #59 closed

[2015-09-25 11:07] #30 closed

[2015-09-25 11:07] achapkowski commented on #34
see samples.

[2015-09-25 11:07] #34 closed

[2015-09-25 11:08] #31 closed

[2015-09-25 16:28] ljumbam commented on #46
![image](https://cloud.githubusercontent.com/assets/4096022/10106109/9e805782-6367-11e5-92c6-62a1b876df48.png)

[2015-09-28 11:38] achapkowski commented on #46
There is a new branch ready for testing.  Pull it and let me know how it works without ArcPy.
https://github.com/Esri/ArcREST/tree/ArcPyOptional

[2015-09-29 17:22] achapkowski commented on #46
@ajturner can you post a use case for wanting to make a django application?

Andrew

[2015-09-30 19:57] jesegal opened #81 "Create Example to Query - Sort - Update Feature Types for AGOL"
As discussed in https://geonet.esri.com/message/527184#527184, AGOL seems to jumble the sorted list of Feature Types making the drop-down list in Collector confusing (unsorted).

This example should Query the meta-data, sort the types by name, and update the feature service with the sorted types..

[2015-10-01 01:09] guyn2gis opened #82 "arcpy-optional"
Maybe nothing but helperservices in agol not there for arcpy-optional, and osx is having issues building without it.

[2015-10-01 13:39] DShokes commented on #81
ArcREST appears to have an administrator class with updatedefinition for feature services.  However, updatedefinition must be done as admin on the specific layer in order to alter the types and templates. I do not see this currently existing. Otherwise it would be fairly straight forward to sort a dictionary of the feature types portion of the layer definition.

This would also allow for symbology

[2015-10-01 14:25] jesegal commented on #81
Will using a Publisher based custom role that includes Admin.Content.[View,Update,Delete]  suffice to use ArcREST for this purpose or is full Admin capabilities needed?

[2015-10-01 15:12] DShokes commented on #81
I'm not sure. Try clicking the layer link (or service url in the drop down) on the item page under that login. Then change the end of the url from .../ArcGIS/rest/services/.... to .../ArcGIS/admin/services. If the user can see the service, and see "update definition" at the bottom of the service page, then the user has admin access.

[2015-10-02 02:28] slibby opened #83 "AddandRemoveFeatures"
This line executes a chunk of code if the total length of the dataset is larger than the chunk size:
https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/featureservicetools.py#L80

from my reading, for small datasets this means that nothing will execute (which in my case returns an error).

I think there needs to be an "else:" block that covers feature services with fewer features than t

[2015-10-02 02:58] slibby commented on #83
On further review, I think the issue is with indentation, I'm working on it.

[2015-10-02 15:04] MikeMillerGIS commented on #83
I checked in a fix, please let me know if this resolves it and if so, close the issue

[2015-10-02 19:30] slibby commented on #83
:+1:

[2015-10-02 19:30] #83 closed

[2015-10-02 20:37] AlexArcPy opened #84 "Cannot delete folder with instance of AGSAdministration"
[code]

[2015-10-02 21:47] DShokes opened #85 "returnDistinctValues param missing in agol layer"
returnDistinctValues is a json param for the query function in the ags/layer, but not the agol/layer.

[2015-10-05 22:01] chadcooper opened #86 "Calls to content.UserContent.exportItem always return 400 on long-running jobs"
Following [this sample](https://github.com/Esri/ArcREST/blob/264e25ad44a87da44326dafd35ff0993904ed8c6/samples/create_replica_portal_item.py), if I attempt to export a feature service to FGDB from AGOL that results in a large (900+ MB) FGDB, ``exportItem`` **always** fails with a ``400 - Error updating file item``. BUT, the FGDB gets created just fine and I can manually download it from My Content

[2015-10-06 06:20] AlexArcPy commented on #84
I have figured out the problem. In the _services.py file, the function ```deleteFolder```

```uURL = self._url + "/%s/delete" % folderName```

should be ```deleteFolder``` instead of ```delete``` in the REST url:

```uURL = self._url + "/%s/deleteFolder" % folderName```

When changed to ````deleteFolder```, the code works as expected.

Link to the REST API Help Delete Folder page: http://localhost

[2015-10-06 12:25] AlexArcPy opened #87 "Bug: The params for editing cluster protocols are supplied in a wrong way"
`_clusters.py` file, the `editProtocol` function.

[code]

Should become:
[code]

REST URL to Help page: http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Cluster_Protocol/02r3000001qv000000/

After fixing this, I am able to edit the cluster protocol.

[2015-10-06 14:00] jmk201 opened #88 "ImportError: cannot import name securityhandlerhelper"
Hello,
I installed ArcREST ver 3 and tried the updatefeature sample but I keep getting this error.
Any help would be appreciated.
thanks,
Julie

[2015-10-06 14:29] MikeMillerGIS commented on #88
That sample uses ArcRest helper, can you verify it was also install?

[2015-10-06 17:22] DShokes commented on #88
Running python setup.py install did not build the hostedservices folder in  site packages. I had to manually copy it over and my own error went away.

[2015-10-08 15:57] achapkowski commented on #87
this will be fixed on the next commit.

[2015-10-08 15:57] #87 closed

[2015-10-08 15:58] achapkowski commented on #84
fixed on the next commit

[2015-10-08 15:58] #84 closed

[2015-10-08 18:14] achapkowski commented on #86
i will take a look.  thank you.

[2015-10-09 13:10] jmk201 commented on #88
Hey Mike,
Something is not right . When I download the ArcREST3 , the samples that get downloaded looks like the samples from ArcREST1 . WHich probably means that the security handler codes are not installed either. How do I get to the correct download? Please help.

[2015-10-09 13:13] MikeMillerGIS commented on #88
Not all the samples have been updated.  Could you manually copy the arcrest and arcresthelper folders to here - C:\Python27\ArcGIS10.3\Lib\site-packages.

[2015-10-09 13:16] jmk201 commented on #88
where should I copy this from? I don't see it anywhere here.

[2015-10-09 13:18] MikeMillerGIS commented on #88
https://github.com/Esri/ArcREST/tree/master/src

[2015-10-09 13:48] jmk201 commented on #88
Mike,
Just right clicking doesn't let me download the folder. Looks like I need Subversion to download a subfolder from Github. Is there any other way? as I don't have subversion. Please let me know.

[2015-10-09 13:49] achapkowski commented on #86
Set wait=True.

Try this:
[code]

[2015-10-09 13:52] achapkowski commented on #82
Thanks, I'll check it out.

[2015-10-09 13:53] MikeMillerGIS commented on #88
just download the entire package and then copy those folders from the zip.

[2015-10-09 13:53] MikeMillerGIS commented on #88
https://github.com/Esri/ArcREST/archive/master.zip

[2015-10-09 14:01] jmk201 commented on #88
yes, that worked for me. Thanks a lot!! Hopefully the script will work now.

[2015-10-09 14:47] chadcooper commented on #86
Regarding using `wait=True`: looks like that is v3 item, I'm using v2 right now. Can you explain what `wait=True` does exactly?

Regarding the issue I'm having with deploying this: I can actually get this to work fine in my local dev env, but when trying to deploy to my client's env (with very high security), it is bombing, but only on large downloads. A colleauge suggested it could be the firewal

[2015-10-09 14:52] MikeMillerGIS commented on #86
ExportItem is a async gp task, setting wait to true just loops until the process finishes or fails.

[2015-10-09 15:30] chadcooper commented on #86
Hmm, thanks, Mike. So [exportItem](https://github.com/Esri/ArcREST/blob/master/src/arcrest/manageorg/_content.py#L2214) really only handles the export of the AGOL item (a feature service in my case) out to a export format (FGDB in my case), correct? If so, that part is working fine, even though it returns a result of `failed` on the larger items. I'm really starting to think my real problem is on

[2015-10-09 15:36] MikeMillerGIS commented on #86
Export Item - http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#//02r30000008s000000

This returns a job id, that job is run in the portal/online.  You have to monitor that job for a status update.  That is what the Wait parameter does in ArcRest.  When the job is done, a new item is created, which you can download.

[2015-10-16 03:29] allisonmuise opened #90 "warning about invalid html content"
I've published a layer to AGOL with a field NAME that includes values such as 'Station #3'. When I try to use fl.addFeatures(fc) to add more features with similar values, I get the error [u'Field NAME has invalid html content.']

[2015-10-16 09:51] achapkowski commented on #90
Can you provide a sample set of your data that you are publishing?
Please email it to achapkowski@esri.com

Thank you,

Andrew

[2015-10-16 10:33] AlexArcPy opened #91 "Enhancement: Proposing a new function to _services.py - listFolderPermissions()"
After running the `addFolderPermission()` function granting a role to access a folder, it seems as there is no function that would let user to list permissions set on the folder. There is `permissions` property for a service, but not for a folder. Am I missing it?

I propose adding a new function to `_services.py` right after the `addFolderPermission()` (seems logical to add permissions and then c

[2015-10-16 16:44] achapkowski commented on #90
What version of ArcREST are you using?
In version 3, with the data you provided, I do not have any issues.

[2015-10-16 16:45] allisonmuise commented on #90
I downloaded Master yesterday afternoon - whatever version that is

[2015-10-16 16:47] achapkowski commented on #90
Here is what I am doing to update the feature layer:

    fl = arcrest.agol.FeatureLayer(url="<service url> ", securityHandler=sh,
                                  initialize=True)
    print fl.deleteFeatures(where="1=1")
    print  fl.addFeatures(fc=r"C:\Users\andr5624\Desktop\New File Geodatabase.gdb\FireBoundary")

[2015-10-16 16:54] allisonmuise commented on #90
Yup, that's what I'm doing.
maybe it is grabbing an old version...I have a few floating around on my computer. I'll try a clean machine and see if that fixes it.

[2015-10-16 21:50] orlando67 opened #92 "FeatureLayer.query(geometryFilter="
Hello,

Can someone please help to verify the use of the 'geometryFilter' and perhaps provide a few input examples. I can't seem to get the query to honor this parameter.

"{'xmin': 321200, 'ymin': 5529500, 'xmax': 322200, 'ymax': 5530500, 'spatialReference': {'wkid': 26911, 'latestWkid': 26911}}"
OR
321200, 5529500, 322200, 5530500
OR
as arcpy.Extent object

Thanks,

[2015-10-17 01:48] ajturner commented on #46
@achapkowski

As a Developer building a business, I want to use ArcGIS Online and hosted services as my content management system & authentication.

Another example, [CKAN](http://ckan.org/) is built with Python and we would be interested in building closer integrations with searching and loading data for organizations that use it for catalog management - such as the US DOI.

[2015-10-17 06:12] rudyvogt opened #93 "Looking for example to update capabilities"
I'm using FME Desktop to write to an AGOL feature service, but when it's in update mode, you cannot use truncate and append.

How can put the the feature layer in create,delete,query,update,editing mode

I'm just looking for an arcrest example to update capabilities.

RudyV

[2015-10-17 11:12] MikeMillerGIS commented on #93
Check out the enable editing in featureservicetools

https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/featureservicetools.py

[2015-10-19 10:32] achapkowski commented on #92
@orlando67 – I’ll take a look today and get back to you.

Andrew

[2015-10-19 10:46] achapkowski commented on #92
@orlando67

Below is a working example using geometryFilter object and a query on a feature layer:

     envelope = arcrest.common.geometry.Envelope(xmin=-125.4,
                                               ymin=35.2,
                                               xmax=-118.7,
                                               ymax=43,
                                              wkid=4326)
    gf

[2015-10-19 10:46] #92 closed

[2015-10-19 10:47] achapkowski commented on #90
@allisonmuise  - any update?

[2015-10-19 10:48] achapkowski commented on #91
@AlexArcPy - I like the idea, if you have it written out, please submit the pull request.  If not, I can take a look at this.

Thank you!

Andrew

[2015-10-19 10:49] achapkowski commented on #85
@DShokes  - I will take a look at this and get back to you.

Andrew

[2015-10-19 11:12] achapkowski commented on #85
@DShokes  - please pull the latest.  Issue resolved.

Thank you

Andrew

[2015-10-19 11:12] #85 closed

[2015-10-19 11:22] achapkowski commented on #86
@chadcooper, @MikeMillerGIS
When wait is set to false, the job id is not returning, I corrected for this issue.  This means if you specify wait=False and want to check status yourself, you now can.
If wait is set to True, then the function will return the useritem object as expected.

See the doctstring for the complete changes in the function.

Andrew

[2015-10-19 11:22] #86 closed

[2015-10-19 11:24] #4 closed

[2015-10-19 11:25] #25 closed

[2015-10-19 12:22] achapkowski commented on #33
@DShokes - added returnExtentOnly to ags/layer.py's FeatureLayer.query().

[2015-10-19 12:22] #33 closed

[2015-10-19 12:22] #39 closed

[2015-10-19 12:27] achapkowski commented on #64
@ python 2.x use the urllib to sanitize your text values:
Example:

         '%C3%A4%C3%B6%C3%BC%C3%9F%C3%A1%C3%A0'

[2015-10-19 12:27] #64 closed

[2015-10-19 12:28] #62 closed

[2015-10-19 12:28] #79 closed

[2015-10-19 12:28] #38 closed

[2015-10-19 15:21] orlando67 commented on #92
Thanks a million, works like a charm!

[2015-10-19 15:32] DShokes commented on #85
Thank you.

[2015-10-19 15:45] allisonmuise commented on #90
@achapkowski : replied via email

[2015-10-19 17:01] DShokes opened #94 "parameters for query to get statistics"
I'm attempting to query max dates for related child features. I'm currently getting all children and then getting the max date with python.
However, it would be more efficient to use REST's grouping statistics. Params for the query in ArcREST are:
[code]
Is it possible to add to the params dictionary without changing the local module? i.e. adding this before _do_get fires:
[code]
which would look

[2015-10-20 06:41] AlexArcPy commented on #91
@achapkowski, thanks! I submitted the pull request.

[2015-10-20 10:59] achapkowski commented on #90
@allisonmuise - the issue was data related based on the sample provided.  In the text field you have three values where the TEXT value is '<Null>'. You can sanitize your data by using an update cursor to fix this issues.

[2015-10-20 11:00] #81 closed

[2015-10-20 11:00] #88 closed

[2015-10-20 11:10] achapkowski commented on #94
so this would be a requested enhancement to the query functions?

[2015-10-20 11:21] #77 closed

[2015-10-20 11:21] achapkowski commented on #66
ok will do, I'm marking this as closed.

[2015-10-20 11:21] #66 closed

[2015-10-20 11:22] achapkowski commented on #82
related to issue #82
Merging.

[2015-10-20 11:22] #82 closed

[2015-10-20 11:24] achapkowski commented on #46
from issue #82
Maybe nothing but helperservices in agol not there for arcpy-optional, and osx is having issues building without it.

[2015-10-20 11:24] achapkowski commented on #91
@AlexArcPy merged code. Thank you!

[2015-10-20 11:24] #91 closed

[2015-10-20 11:28] achapkowski commented on #57
I believe the arcresthelper has functionality to move/copy services.  @MikeMillerGIS can you please verify this?

[2015-10-20 11:46] MikeMillerGIS commented on #90
What do Allison need to do to the data to fix it?

[2015-10-20 11:52] MikeMillerGIS commented on #90
Is this a problem with the feature to json?  Can we add the data scrubbing to ArcRest helper add function on feature service tools to help others?

[2015-10-20 13:03] MikeMillerGIS commented on #57
Here is a sample to copy a services definitionhttps://github.com/Esri/ArcREST/blob/master/samples/copy_feature_service_deforgorg.py

[2015-10-20 14:05] achapkowski commented on #90
@MikeMillerGIS data scrubbing is the responsibility of the user, not arcrest.

[2015-10-20 14:13] #90 closed

[2015-10-20 14:45] DShokes commented on #94
I wasn't sure if it was possible to alter the parameters as query is
currently written. However, I would  request that the query function be
able to append any existing and future REST parameters when building the
params variable for _do_get. I.e. add a **Kwargs and append key - value
arguments to params dictionary.
Thanks.

[2015-10-20 17:04] hrm-kennyn opened #96 "Manageorg - Update item through multipart"
WIth the rework of manageorg through commit c8a64b03516fffbe1d97074907704e97c06b431c
I was wondering if support for multipart could be added to UpdateItem in the UserItem class? This was previously available through the updateItem method in the old UserContent class.

[2015-10-20 17:21] achapkowski commented on #96
@hrm-kennyn - we will put it on the board and add it back in!

[2015-10-20 17:30] jmk201 commented on #88
hey Mike ,
I get the following error 'must declare the scalar variable'

{'updateResults': [{'objectId': -1, 'globalId': None, 'success': False, 'error': {'code': 1000, 'description': 'Must declare the scalar variable "@OBJECTID".'}}]}

I am working on the update feature sample. not sure where to declare the objectID . Here is an extract to get a better picture of what I am doing:

shh = securityh

[2015-10-20 17:34] hrm-kennyn commented on #96
Thanks!

[2015-10-20 17:34] MikeMillerGIS commented on #88
Could you share the url to your service?  Can you verify the OBJECTID field is being sent in the post/get?

[2015-10-20 17:44] jmk201 commented on #88
It's a secured service but I think error is probably when I am defining the sql statement.

id = 44081
    url = 'http://services1.arcgis.com/MxjRokvPm7bjslyR/ArcGIS/rest/services/CollectBizNames/FeatureServer/1'

    dt = local_time_to_online(datetime.datetime.now())

    fieldInfo =[

                {
                    'FieldName':'BUSINESS_NAME',
                    'ValueToSet':'TEST',

[2015-10-20 18:04] MikeMillerGIS commented on #88
think your issue is with this line
="OBJECTID,SUITE,BUSINESS_NAME,TYPE,STATUS,COMMENTS".join(out_fields

you are using this string as your joining delimiter OBJECTID,SUITE,BUSINESS_NAME,TYPE,STATUS,COMMENTS"

you need to use this to join your out fields as a comma delimited list
",".join(out_fields)

[2015-10-20 18:19] jmk201 commented on #88
yes, you are correct. Looks like,  I created that error myself:(
I have a question, If I have an array of ids and array of values for the fields. what is the most efficient way to go about each value in the array? any thoughts?

[2015-10-20 18:21] MikeMillerGIS commented on #88
maybe look at mixin
http://stackoverflow.com/questions/533631/what-is-a-mixin-and-why-are-they-useful

[2015-10-20 18:22] jmk201 commented on #88
okay, thanks a lot Mike!!

[2015-10-20 18:58] jmk201 commented on #88
wov this looks way complex. All I want to do is to update more than one feature. can I not update more than one feature at a time using ArcREST?

[2015-10-20 19:21] MikeMillerGIS commented on #88
You would need to construct a featureset, which contains a set of features
https://github.com/Esri/ArcREST/blob/master/samples/update_features.py

[2015-10-20 19:37] jmk201 commented on #88
Mike,
yes, I am working on the same sample and I am able to update one feature successfully. Now that I want to update more than one feature, can I not create a list of ids and  list of field values and pass it in this sample?

I will look at construction a featureset option too. thanks!

[2015-10-21 10:42] #57 closed

[2015-10-21 11:17] achapkowski commented on #94
Added kwargs to query() on both ags and agol layer.
There is also a new filter in the filters.py that will allow for the creation of the statistics output you want on Query.
Please pull the latest to use the new functions.

[2015-10-21 11:17] #94 closed

[2015-10-21 12:27] DShokes commented on #94
Awesome. Thanks!

[2015-10-21 15:16] AlexArcPy opened #100 "Bug: getting services in current folder (ags, server.py)"
It is impossible to get services in the folder. Running this code will break:

[code]

from `server.py`
[code]
What's the purpose of the `.split('/')[1]`?

`self.location` will be `"http://localhost:6080/arcgis/rest/services"` and `service` is `{type = "FeatureServer", name = "samplefeatservice"}`.

After changing to `url = "%s/%s/%s" % (self.location, service['name'], service['type'])` things wor

[2015-10-21 16:58] achapkowski commented on #100
resolved.

[2015-10-21 16:58] #100 closed

[2015-10-22 00:20] rudyvogt commented on #93
Thanks, i had a look at the above, but is does not give you an example only the class. I've seen an example in version 1, but that does not work at all.

One think i'm struggling is with getting arcrest fucntions to work through the proxy firewall, getting all the time refusing connection.

Our proxy needs authentication, username and password.

[2015-10-22 01:12] ecaldwell commented on #93
I just tried this too and something seems off. I get a ton of errors as it tries to read the existing definition and then more of the same when it tries to update them.

[code]

Responds with:
[code]

[2015-10-22 01:21] MikeMillerGIS commented on #93
Those errors are OK, just telling us we need to add those functions to the class.  If you print the result from fst.EnableEditingOnService(url=serviceUrl), what does it return?

[2015-10-22 10:43] AlexArcPy opened #101 "Bug: cannot run data.validateAllDataItems()"
Running
[code]
will break with the exception `KeyError: ('code',)` in `arcrest\web\_base.py`. This is because the `validateAllDataItems()` supports only POST (from REST help: http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Validate_All_Data_Items/02r3000001s5000000/).
The result we get is:
[code]
I have tried to change to `_do_post()` instead of `_do_get()` and can see the usual re

[2015-10-22 11:15] achapkowski commented on #101
What version of AGS are you testing against?

[2015-10-22 11:33] AlexArcPy commented on #101
It's 10.3.1

[2015-10-22 12:26] achapkowski commented on #101
I had to change the _do_get call to _do_post and it seems to work.  Also the validateAllDataItems is a property, not a method, so you do not need the (), that could be a point of failure.

[2015-10-22 12:26] #101 closed

[2015-10-22 12:49] AlexArcPy commented on #101
I confirm that. It works fine with `_do_post` and referring to validateAllDataItems as to a property (without the `()` ). Thanks a lot.

[2015-10-22 12:55] ecaldwell commented on #93
It succeeds, but without adding the new capabilities. Here's the response:
`{'allowGeometryUpdates': True, 'capabilities': 'Query'}`

[2015-10-22 14:05] MikeMillerGIS commented on #93
Evan,
  You need to do it on the service, not the layer
change
         serviceUrl = 'http://services.arcgis.com/hRUr1F8lE8Jq2uJo/arcgis/rest/services/HOSP_NEAR_TEST/FeatureServer/0'

to          serviceUrl = 'http://services.arcgis.com/hRUr1F8lE8Jq2uJo/arcgis/rest/services/HOSP_NEAR_TEST/FeatureServer'

[2015-10-22 16:09] ecaldwell commented on #93
When I run it against the service without a sublayer I get this response:
[code]
Looking at the definition when you access the service, everything ends up in a list under the layers key. Building that out lets the call succeed, but I'm still stuck with Query only.
[code]

[2015-10-22 16:43] ecaldwell commented on #93
Actually, now it's working for me. Going against the main endpoint (no sublayer id) I can successfully enable and disable editing. However, it seems a little inconsistent. Sometimes I have to run the script a couple of times to get the update to apply.

Here's the final code that's working for me:
[code]

[2015-10-22 17:11] MikeMillerGIS commented on #93
I figured out the issue.  The order of parameters matters for this operation.  The service needs to first set hasStaticData to false before enable editing.

I added a new sample and checked in a fix
https://github.com/Esri/ArcREST/commit/0a775c4ec4ee98561139a691d151d7ec20d7721d

[2015-10-22 17:11] #93 closed

[2015-10-22 17:11] MikeMillerGIS commented on #93
sample: https://github.com/Esri/ArcREST/blob/master/samples/toggleEditing.py

[2015-10-22 17:26] ecaldwell commented on #93
Nice sleuthing!

[2015-10-23 07:41] AlexArcPy opened #102 "Bug: cannot update an AGOL user/group, error in handling thumbnails"
`manageorg\_community.py`

Executing `.update(description="UpdatedDescByPython")` or `.update(fullname="FullNameEdited1")` on an instance of either AGOL Group or User class respectively will break on the line:
[code]
This is because the thumbnail is None when not provided and it's impossible to get the basename of None. I suspect that this row should be moved after the check:
[code]

I don't dare

[2015-10-23 10:18] achapkowski commented on #102
Good catch, If you have it fixed, I'll merge your code. If not, I can add it.

Thank you

[2015-10-23 13:43] AlexArcPy commented on #102
Andrew, please go ahead and fix that :) am busy searching for other bugs ;)

[2015-10-26 17:08] achapkowski commented on #102
resolved.

[2015-10-26 17:08] #102 closed

[2015-10-28 23:10] blairdgeo commented on #46
First off BIG thank you @achapkowski.  I did a quick test against the https://github.com/Esri/ArcREST/tree/ArcPyOptional branch and I am having some issues.  Let me review what I have done to test.  It could be user error :)

Cloned repo and checked out new ArcPyOptional branch
<pre><code>git checkout ArcPyOptional
</code></pre>

Install python packages
<pre><code>python setup.py install
</code></

[2015-10-29 10:38] AlexArcPy opened #104 "Question: Is it possible to create new members of AGOL org with ArcREST / REST API?"
I cannot find an operation that would let administrator to invite users to join ArcGIS Online organization in the REST API, so I am not sure if it's in the ArcREST either.

You can add a new user in the AGOL admin page and then choosing one of the options how you want a user to be created (for example, `Add members automatically without sending an email`).

Is there any way to add new users to AGO

[2015-10-29 12:04] achapkowski commented on #104
resolved.

[2015-10-29 12:04] #104 closed

[2015-10-30 10:18] AlexArcPy commented on #104
Thank you, Andrew. I am still confused though because I am not sure what is the right way to add a user to AGOL organization (not Portal). I don't want to send emails to users with invitations; I want to add users directly into the AGOL organization. Could you really quickly just name the sequence of class/methods I should work with?

[2015-10-30 10:47] achapkowski commented on #104
Sure thing, you still have to send an email, but you can create the account for a user's email.  The email that is sent by AGOL it basically tells the person you have an account, here is how to get into that account.  There is no method to not send an email that I am aware of.

Here is an example:

    proxy_port = None
    proxy_url = None
    securityHandler = AGOLTokenSecurityHandler(username,

[2015-10-30 10:50] achapkowski commented on #46
@blairdgeo can you try using the main branch.  We are attempting to just make it so you do not need ArcPy with ArcREST based on all the feedback we have received from this thread and other means of communication.

I believe ArcRESTHelper has been tested and works without arcpy, the main package has not been fully tested.

[2015-10-30 14:11] AlexArcPy commented on #104
Ah, I couldn't believe that I should invoke addUser from the Portal because I am working with AGOL organization. I think that it might be a bit confusing for users... Shall we create a copy of this method inside the community part of AGOL? It's up to you of course to decide.
PS. The sample you posted works great, the user was added in the AGOL organization; the email was not sent though (not criti

[2015-10-30 14:18] achapkowski commented on #104
The ArcREST layout of the functions and classes follow the REST API/URL structure that is why it is in the Portal class.

I hope that helps you understand the function/class structure.

[2015-10-30 14:23] AlexArcPy commented on #104
Ah, I see now. Should have checked Portal part of the REST API Help, thought it is applicable only to Portal for ArcGIS installations.

[2015-10-31 15:21] AlexArcPy opened #106 "Bug: cannot run stopServices method on Services object"
[code]
will result in an error
[code]
This is the `params` that are submitted to the `_do_post()`:

[code]

I have noticed that `json.dumps(services)` in the `stopServices` method will create a string object, instead of JSON, so I am supplying the `params` as:
[code]
Using exactly the same parameters in the Admin Directory gives the correct output - the service is stopped.

Any ideas on what am I

[2015-11-01 04:58] DShokes opened #107 "update features without changing edit tracking?"
Is there a way to prevent the edit tracking field from changing when the feature is programmatically updated?  I would hope to use edit tracking to monitor when feature updates are made by users and not a script or admin. It seems like the text editor field can be altered, but I haven't found a way of admin control on the date fields.

If there isn't a way to control the edit date field from REST,

[2015-11-01 05:16] DShokes commented on #106
Is services_dict supposed to be a list? The square brackets look out of place with the variable name.

[2015-11-01 09:14] lvdburgt opened #108 "folder parameter ignored in content addItem"
The folder parameter seems to be ignored. What is the recommended approacht to add an item to a specific folder instead to the root folder?

def addItem(self,
                itemParameters,
                filePath=None,
                overwrite=False,
                folder=None,

[2015-11-01 12:13] MikeMillerGIS commented on #108
You need to set the currentfolder of the user

[2015-11-01 12:18] MikeMillerGIS commented on #107
Without turning off editor tracking the answer is no.

[2015-11-01 17:33] lvdburgt commented on #108
thanks!
Each time the user object is instantiated this property should be set in order to get the context right.
issue can be closed.

[2015-11-02 06:27] AlexArcPy commented on #106
Good point. It is supposed to be a list even though just one service dict is supplied - look at the Help page. http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#/Stop_Services/02r300000281000000/.

[2015-11-02 11:12] #108 closed

[2015-11-02 11:24] #107 closed

[2015-11-02 11:55] achapkowski commented on #106
Added startServices and fixed parameters for stopService().  Thank you. Please pull the latest for this functionality.

[2015-11-02 11:55] #106 closed

[2015-11-03 13:12] AlexArcPy opened #110 "Question: is it possible to publish a map service in AGS with ArcREST?"
I have developed my own arcpy-based workflows tools for publishing services to AGS site (using `arcpy.mapping.CreateMapSDDraft`, `arcpy.StageService_server`, and `arcpy.UploadServiceDefinition_server`).

Are there any functions in ArcREST for publishing services (it could be directly from .mxd or from .sd) present? I have found the `MXDtoFeatureServiceDef` but it seems to target AGOL organization.

[2015-11-03 13:25] MikeMillerGIS commented on #110
Check out the publishing class in ArcRest helper.

[2015-11-03 13:39] AlexArcPy commented on #110
Thanks, Mike! Which class do you refer to?

[2015-11-03 14:44] MikeMillerGIS commented on #110
Check out https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/publishingtools.py#L1368

Here is an example of it implemented
http://solutions.arcgis.com/utilities/water/help/customer-complaints/

[2015-11-03 16:33] AlexArcPy commented on #110
Thanks, Mike! Are you sure that this can be used for publishing to AGS? It has AGOL organization everywhere in the code; so it looks to me as this is used for publishing feature services to AGOL organization. I am interested in publishing map services into a local AGS site.

[2015-11-03 17:04] MikeMillerGIS commented on #110
Oh my mistake.  This is for portal  or online

[2015-11-05 01:02] nathandaniels opened #111 "Error 500 when attempting to add domain to hosted feature service"
When I run: addDomainToHostedFeatureService.py I get the following error:

{u'message': u'Error: Feature (ID: services) not found', u'code': 500, u'details
': [u'Unable to retrieve feature.']}

Any ideas how to resolve?

[2015-11-05 11:29] achapkowski commented on #111
Can you please provide some system details:
  What version of Portal or is this AGOL?
  Are you using the spatial datastore or your own managed database?
  What version of ArcGIS Server are you using?

Thank you

[2015-11-05 22:22] nathandaniels commented on #111
It is for a Feature Service on AGOL. The Feature Service is Not Shared. Thanks.

[2015-11-06 14:29] achapkowski commented on #111
@nathandaniels  - Can you verify that the URL is correct?  Have you tried watching the traffic using a program like fiddler? Do you have permission to edit/control this feature service?  You need to be an administrator to perform these actions.

[2015-11-09 22:27] nathandaniels commented on #111
I have used Fiddler to verify the URL, and I am an AGOL administrator. At the moment I am getting:

AttributeError: 'module' object has no attribute 'maketrans'

I am not sure if this error is related to the original error 500, or whether it is a completely different issue?

[2015-11-09 22:51] nathandaniels commented on #111
The AttributeError is now resolved, I moved the .py file into a new folder. I now have just one error message which is 498:

{u'message': u'Invalid token.', u'code': 498, u'details': [u'Invalid token.']}

[2015-11-10 11:58] achapkowski commented on #111
@nathandaniels - can you please zip up your code and post it.  Please ensure you do not include your usernames and passwords.

Thank you

[2015-11-10 12:05] achapkowski commented on #110
When you publish a tool to AGS, you can use the publishing tools in the system folder.  You can also use the create service function on ArcGIS Server to do this as well.  The easiest way to publish is to just use the core arcpy.mapping tools to ArcGIS Server.
hope this helps.

[2015-11-10 13:02] AlexArcPy commented on #110
Thanks, Andrew. This is how I do it now - with arcpy.mapping tools. I haven't used CreateService, it seems as this will just create a skeleton service with the properties as I don't see any way to get an sd file published, so the service won't have any referenced GIS data. Am I wrong?

If you think it's useful, I could submit a pull request with the arcpy.mapping based workflow for publishing a se

[2015-11-10 22:22] dougbrowning opened #115 "Json limit hit when downloading replica"
Creating a local replica worked great at 10,000 features.  Now at 32,000 I get an error.  Have I hit a limit?  If so how do I get around it?  Thanks

CODE:
fs = FeatureService(url=url,securityHandler=agolSH,proxy_port=proxy_port,proxy_url=proxy_url,initialize=True)
result = fs.createReplica(replicaName='Demo', layers='0,1,2,3,4,5', keep_replica=False, layerQueries=None, geometryFilter=None, return

[2015-11-10 22:48] nathandaniels commented on #111
After taking out my username and password and the token identifier, my code is basically the same as what is here on GitHub, but with a different layer name and field name. I suspect that my URL is wrong. In the code what is the: <url to spatial data store>? Is this a URL to the ArcGIS REST Services Directory? I have embedded the token in the URL, is that the way it should be done? Thanks for your

[2015-11-10 23:24] MikeMillerGIS commented on #111
Post the URL you are using.  No you should only have the URL to the service, no parameters.

[2015-11-11 04:14] nathandaniels commented on #111
The URL is "http://services1.arcgis.com/<unique identifier goes here>/arcgis/rest/services/<layer name goes here>/FeatureServer/0"

[2015-11-11 11:19] achapkowski commented on #111
Have you tried using other services or just this one?

Can you send me you code and url to achapkowski@esri.com

Thank you

[2015-11-11 13:49] ecaldwell commented on #111
The url and layername should be broken up.

Line 8 should be `url = "http://services1.arcgis.com/rest/admin"` and then line 11 should be `featureLayerNames = ["<layername>"] # must be all lowercase`

[2015-11-11 16:55] AlexArcPy opened #116 "Issue: cannot handle input parameters for GP service"
There seems to be a collision of names due to a wrong import of `BaseGPObject` from `abstract.py`.

File `arcrest\ags\_geoprocessing.py`:

`from .._abstract.abstract import BaseAGSServer, BaseGPObject`

This object is used https://github.com/Esri/ArcREST/blob/master/src/arcrest/_abstract/abstract.py#L29 and it doesn't have any attributes, so the code never gets into evaluating the input params typ

[2015-11-11 18:27] achapkowski commented on #116
I moved the BaseGPObject out of the gpobject module and put it in abstract where it belonged.

Thank you

[2015-11-11 18:27] #116 closed

[2015-11-11 18:28] achapkowski commented on #115
@dougbrowning - is there anyway you can share your service?  I don't have any test that that comes near that size.

[2015-11-11 18:32] achapkowski commented on #110
I think you have to upload the sd file to server using the upload functions then use the GP publishing tools if you manually want to do it.

This project shows the ~~pain~~process of doing it that way: https://bitbucket.org/databasin/ags_tool_deploy

[2015-11-11 18:35] dougbrowning commented on #115
Sure just send me your AGO username.

     On Wednesday, November 11, 2015 10:28 AM, Andrew <notifications@github.com> wrote:

 @dougbrowning - is there anyway you can share your service? I don't have any test that that comes near that size.—
Reply to this email directly or view it on GitHub.

[2015-11-11 18:37] AlexArcPy commented on #110
Thanks for sharing a useful resource. However, this tool provides a command-line interface for packaging and publishing python toolboxes to ArcGIS Server (10.2.x).

I am talking exclusively about map services, no GP services are involved yet :)

[2015-11-11 18:38] AlexArcPy commented on #116
Cloned the update repo, tested, works as expected, thanks!

[2015-11-11 18:41] achapkowski commented on #115
@dougbrowning - please use arcresttest

[2015-11-11 18:55] dougbrowning commented on #115
Can not get AGO to find your username.  Sent pm.

[2015-11-11 19:20] achapkowski commented on #115
@dougbrowning - I can reproduce the issue, I think you may have found an issue beyond arcrest.  Can you contact customer support with this one?  The exact message I get back is: "An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being viewed remotely (for security reasons). It could, however, be vie

[2015-11-11 20:51] dougbrowning commented on #115
Would support even look at ArcRest issues?

Weird becuase I get this error
ValueError: No JSON object could be decoded

On this function of code in decoder.py
    def raw_decode(self, s, idx=0):
        """Decode a JSON document from ``s`` (a ``str`` or ``unicode``
        beginning with a JSON document) and return a 2-tuple of the Python
        representation and the index in ``s`` where the doc

[2015-11-11 21:20] AshleyDesktop commented on #115
Esri Support Services does not formally support ArcREST yet, but we do support the requests being made using the REST API. When submitting the ticket, provide the request and responses being sent (i.e. send a Fiddler .saz file over: http://www.telerik.com/fiddler).

[2015-11-12 12:07] achapkowski commented on #115
@dougbrowning @AshleyDesktop  The issue doesn't have to deal with ArcREST, but rather a server application error (http 500 error message).

The reason you are getting a decode error is because the value returned is HTML not JSON.

This is definitely something ArcREST needs to address, but you have a greater issue beyond this package.

[2015-11-12 12:10] achapkowski commented on #110
@AlexArcPy The example does apply to only GP, but map services and GP all publish through the same tool.

[2015-11-12 16:16] dougbrowning commented on #115
Now that I ran fiddler on it I do see that there is a error coming back.  I did not know using Fiddler is what you meant at first.  I have opened a ticket with Esri and I will let report back what comes of it.

Thanks

[2015-11-13 11:46] achapkowski commented on #115
@dougbrowning - thank you!  I'm going to close the issue but please comment the results of what you find out.

[2015-11-13 11:46] #115 closed

[2015-11-13 11:47] #110 closed

[2015-11-13 12:47] #47 closed

[2015-11-13 12:53] achapkowski opened #120 "Discussion: Adding Six Support to Package"
Should ArcREST incorporate Six?

https://pythonhosted.org/six/

This would make creating a 2/3 version easier.
The biggest impact would be the web._base.py where the web operation class is stored.

I think the proposed changes in code:
 -- web._base.py
 -- setup.py to add in required packages --or-- package six into ArcREST
 -- securityHandlers - make sure the ntlm works
 -- make sure all referenc

[2015-11-13 18:54] tpcolson opened #122 "create_replica_fs.py fails with numerous errors"
create_replica_fs.py fails with numerous errors on a fc that has sync and editing enabled with the following many errors:

supportsCalculate  - attribute not implemented in Feature Service.
extent  - attribute not implemented in Feature Service.
supportsValidateSql  - attribute not implemented in Feature Service.
advancedQueryCapabilities  - attribute not implemented in Feature Service.
supportsCo

[2015-11-13 19:00] tpcolson opened #123 "publishingGeoJSON fails on "UserItem""
import arcrest

sh = arcrest.AGOLTokenSecurityHandler("name", "pw")
admin = arcrest.manageorg.Administration(securityHandler=sh)
user = admin.content.users.user()
ip = arcrest.manageorg.ItemParameter()
ip.title = "MyGeoJSONTestFile"
ip.type = "GeoJson"
ip.tags = "Geo1,Geo2"
ip.description = "Publishing a geojson file"
addedItem = user.addItem(itemParameters=ip, filePath=r"C:\Temp\ArcREST-master\ge

[2015-11-13 19:03] achapkowski commented on #122
Please post your code and url.

[2015-11-13 19:12] tpcolson commented on #122
"""
  This sample shows how to create a replica from a FS

"""
from arcrest.security import AGOLTokenSecurityHandler
from arcrest.agol import FeatureService
from arcrest.common.filters import LayerDefinitionFilter

if __name__ == "__main__":
    username = "user"
    password = "pass"
    url = "http://services1.arcgis.com/fBc8EJBxQRMcHlei/ArcGIS/rest/services/GRSM_RESTROOMS/FeatureServer/0"
    p

[2015-11-13 19:16] tpcolson commented on #122
Progress https://services1.arcgis.com/fBc8EJBxQRMcHlei/ArcGIS/rest/services/GRSM_RESTROOMS/FeatureServer

seems to have done the trick. Thanks for looking into it though!

[2015-11-13 19:16] #122 closed

[2015-11-18 15:31] cameronezzi opened #125 "November 18th AGOL Update Changes"
It appears that since last nights AGOL update, when I create a Feature Layer object using the following sample:

https://github.com/Esri/ArcREST/blob/master/samples/query_agol_layer.py

I receive the following print statement:

supportsApplyEditsWithGlobalIds  - attribute not implmented in Feature Layer.
serviceItemId  - attribute not implmented in Feature Layer.

This did not happen prior to the

[2015-11-18 15:45] achapkowski commented on #125
Thanks for the information!

I will ensure it's in the next release (3.5.0) currently be worked on.

[2015-11-18 15:47] cameronezzi commented on #125
Great to hear! Thanks for the quick response.

[2015-11-20 12:18] lucksimo opened #126 "HTTP Error 407"
When I run the example code listLayersInHostedFeatureService.py, I get this error:

HTTPError: HTTP Error 407: Proxy Authentication Required ( The ISA Server requires authorization to fulfill the request. Access to the Web Proxy filter

I have tried a few other example code, I got the same error .

the following code seems OK though, it doesn't cause any error when I step through it in debugging.

[2015-11-20 22:57] MarieAshley opened #128 "Submit createReplica asynchronously"
I apologize if I am asking this in the wrong location. This is to follow up on https://github.com/Esri/ArcREST/issues/115

Can we sumbit an asynchronous createReplica request using ArcREST?

I could not find an async parameter using ```help(arcrest.agol.FeatureService.createReplica)```

We found that the request returns JSON when done asynchronously, but returns a 500 error when done synchronously

[2015-11-20 23:19] dougbrowning commented on #115
Esri came back and said they do not know why on the error yet - it is not a time out though they say.  They did say that if async was set to true it seemed to work.  You have no variable for that so I dug into featureservice.py and changed async.  But then it was mad on the unzipping.  I commented that out and got a result of Not supported.

[2015-11-21 00:14] dougbrowning commented on #115
I have confirmed that async works.  Add /createReplica to the service URL then use this code below.
The print response at the end gives you a url to the job.  But then the job creates yet another URL to a zip file.  Not sure how to get that zip file url back.  You would probably know better than me.

Maybe this could be added to the ArcRest code.
They are still working on the bug I think...

data

[2015-11-21 19:23] banchana opened #129 "createreplica not returning any result"
I have been using createreplica to download the data from agol hosted feature service.
It has stopped working after the November 18th AGOL update.
I am getting no results returned. There are more than 200,000 points in my service.

I have also seen following errors:
Prodstring indices must be integers, not str
contacts-attributes not implemented in Portal class
supportsApplyEditsWithGlobalIds - at

[2015-11-23 11:13] achapkowski commented on #126
What type of Proxy do you have?

[2015-11-23 11:16] achapkowski commented on #129
Thanks for the missing properties they will be added in the next release.  They are just warning messages, but we put them in there so that get posted :)  They are not error messages.

Where do you get this message: "Prodstring indices must be integers, not str"?
Can you post your url so we can try and reproduce the replica issue?

[2015-11-23 12:17] achapkowski commented on #129
@banchana properties added.

[2015-11-23 12:17] achapkowski commented on #125
The properties have been added to the agol.FeatureLayer object on the main branch.

[2015-11-23 12:18] achapkowski commented on #120
Began developing v3.5.0 on main branch.  Six support added.

[2015-11-23 12:19] achapkowski commented on #46
Issue resolved, main branch will have arcpy as optional as default.

[2015-11-23 12:19] #46 closed

[2015-11-23 22:56] lucksimo commented on #126
I am working behind a corporate firewall, we have a corporate proxy to access Internet. I found I could not assess AGOL using REST API in Python, so that I installed a local proxy on my computer called "Cntlm" which is serving on  port 3128.

Code like the following will work if NOT using ArcREST:

proxy_handler = urllib2.ProxyHandler({"http": "http://127.0.0.1:3128"})
opener = urllib2.build_opene

[2015-11-24 02:22] pLeBlanc93 opened #131 "get/set currentFolder and `None`"
I'm trying to figure out how to change the `currentFolder`. Right now, I can only get it working by changing back to root.
[code]
Here's the output from the interpreter:
[code]

[ref](https://github.com/Esri/ArcREST/blob/264e25ad44a87da44326dafd35ff0993904ed8c6/src/arcrest/manageorg/_content.py#L1954)

[2015-11-24 05:18] banchana commented on #129
So is it the master that I download then?

I am getting two errors when its trying to get result.
result is being returned null
and the error message is :"object has not has_key attribute"
I even tried using the simple sample for create replica and that one is also returning no result at all.
It was working before November 18th.

[2015-11-24 10:22] achapkowski commented on #129
The current master branch is working version 3.5.  You can find the v3.0.1 release here.  It will have the same issue because that release is not being updated.  I just wanted to let you know the issue has been addressed.
See: https://github.com/Esri/ArcREST/releases/tag/v3.0.1

[2015-11-24 11:57] achapkowski commented on #129
Here is an example of how to export a sync enabled hosted feature class to a file geodatabase from the new createReplica() in version 3.5.0.
fs.createReplica(replicaName="newway2", layers=[0],
                             dataFormat="filegdb",
                             async=False,
                             out_path=r"c:\temp2")

[2015-11-24 11:57] #129 closed

[2015-11-24 12:16] achapkowski commented on #131
Here is an example of get/set the currentFolder:

[code]

Hope this helps.

[2015-11-24 12:18] #131 closed

[2015-11-24 12:20] achapkowski commented on #128
In version 3.5.0, I redid the createReplica() function on the agol.FeatureService class in order allow a more dynamic replica creation from Python.  I did not back port the functionality, and I do not plan on pushing it back to 3.0.1.  Check out the main branch to see if this fits your needs.

[2015-11-24 12:20] #128 closed

[2015-11-24 12:54] achapkowski commented on #126
@lucksimo - the issue with proxy support is that there are many different types of proxies.  ArcREST supports simple proxies.

You can try creating a local proxy on your machine that then handles the NTLM proxy needs.

Just an idea.

[2015-11-24 13:23] banchana commented on #129
When will version 3.5.0 be available then with the updates?

Yes I downloaded the master yesterday and installed it and I was still
getting the same messages for those properties. It makes sense now.

Async enabled is great. I was putting create replica method in a while loop
and only breaking out of it when result had something other than *None*.
But even after many tries(more than 20), the resul

[2015-11-24 13:31] achapkowski commented on #129
3.5.0 can be pulled from the master branch right now.  We haven’t tested everything against the 3.10 release of AGOL but the 3.0.1 version isn’t fully tested either for what that is worth.

3.5.0 also has the benefit that it should be py2/3 compatible meaning it should be able to be used in Pro and ArcGIS desktop.

The ArcRESTHelper sub-package has not be updated using six yet, so that is not 2/3

[2015-11-24 17:48] banchana commented on #129
Hi Andrew,
Can I send the code in your email?
Thanks!

On Tuesday, November 24, 2015, Andrew <notifications@github.com> wrote:

[2015-11-24 17:49] achapkowski commented on #129
Sure thing, achapkowski@esri.com<mailto:achapkowski@esri.com>

Thanks

Andrew

[2015-11-24 23:02] lucksimo commented on #126
@achapkowski
That's exactly what I did. Cntlm is the local proxy.
Thanks.

[2015-11-25 02:15] pLeBlanc93 commented on #131
Thanks Andrew for the example.
Thanks Mike for the latest commit. It's working great.

[2015-11-25 11:51] achapkowski commented on #126
@lucksimo can you post your solution?  All the steps to work around this issue?  I think it would be a great wiki article as well because I'm sure there are other people who have this issue.

Thank you

[2015-11-26 18:47] yinshi opened #132 "SSL required error message"
Thanks for creating ArcRest. It is really useful. Could you please help me troubleshoot a security problem I have ran into?

After turning on 'Allow access to the organization through HTTPS only' under Security in AGOL, I am no longer able to be authenticated by AGOL. I got the following error:
{u'message': u'SSL Required', u'code': 403, u'details': [u'SSL Required']}

How do I rework my code to g

[2015-11-30 11:55] achapkowski commented on #132
Are you using HTTPS in your service URL?

[2015-11-30 11:55] #120 closed

[2015-11-30 12:15] achapkowski commented on #123
@tpcolson - Please see the newest sample

[2015-11-30 12:15] #123 closed

[2015-11-30 12:16] #111 closed

[2015-11-30 12:16] #126 closed

[2015-11-30 15:40] ziegenf2 opened #133 "Create Replica from a FS"
I'm having a problem implementing this create replica from a FS. I have copied and pasted my code at the bottom of this post. The username and password are correct in the code I am running, but I get an error that says the following.

bingKey  - attribute not implemented in Portal class.
{'URL': 'http://services1.arcgis.com/Ebe2vzeJnfgD83DH/ArcGIS/rest/services/ServiceAddressPoint/replicafiles/012

[2015-11-30 16:02] achapkowski commented on #133
@ziegenf2 -  The bingKey issue is not an error, it's a warning.  See if this code below works for your replication issue:

    result = fs.createReplica(replicaName='Demo',
                              layers=[0,1],
                              dataFormat="filegdb",
                              async=True,
                              wait=True,
                              out_path='C:\\temp

[2015-11-30 16:35] ziegenf2 commented on #133
Thanks for your quick reply. I tried this code and it still is not printing result. This is what is returned. Do you know what else could be wrong?

bingKey  - attribute not implemented in Portal class.
My name is
{'statusUrl': 'http://services1.arcgis.com/Ebe2vzeJnfgD83DH/ArcGIS/rest/services/ServiceAddressPoint/FeatureServer/jobs/344b268f-782a-4d4e-ac73-901cee6b44ac'}

[2015-11-30 16:46] achapkowski commented on #133
Did you update your copy of ArcREST?

Andrew

[2015-11-30 16:50] ziegenf2 commented on #133
I did and it returned
{'statusUrl': 'http://services1.arcgis.com/Ebe2vzeJnfgD83DH/ArcGIS/rest/services/ServiceAddressPoint/FeatureServer/jobs/96f5a80d-efa5-433e-a53d-61fc45cdda4d'}

[2015-11-30 16:52] achapkowski commented on #133
That is a job url, click on the link and see what you get.

You can also try async=False to try and export the data synchronously.

[2015-11-30 17:31] yinshi commented on #132
Thanks for the tip. That was the problem. The script works now with using HTTPS in the service URLs.

[2015-11-30 18:01] achapkowski commented on #132
great

[2015-11-30 18:01] #132 closed

[2015-11-30 21:32] ziegenf2 commented on #133
Thanks Andrew! I understand now. Are there any examples of how I can use the job url or the url for the zip that was returned and download them to a folder within this script?

[2015-12-01 23:52] dougbrowning commented on #115
Got final word from Esri.  This was all i got.  Can not handle the big stuff as usual.

The following defect has been logged:

BUG-000092620: Creating a replica synchronously from a large number of records or vertices results in a 500 - Internal Server Error.

[2015-12-04 17:21] ziegenf2 commented on #133
What would results look like if returnAttachments= True?  I'm getting an error saying that the parameter for attachmentsSyncDirection is invalid.

    result = fs.createReplica(replicaName='Demo',
                              layers=[0,1],
                              dataFormat="filegdb",
                              async= false,
                              wait = True,

[2015-12-08 17:36] psiczewicz opened #134 "Version 3.5.1 installation errors"
I just installed ArcRest version 3.5.1, and found that a) Setup.py does not include the 'opendata' folder, and b) there is a syntax error in arcrest\ags\services.py; the message was:

byte-compiling C:\Python27\ArcGIS10.3\Lib\site-packages\arcrest\ags\services.py
to services.pyc
  File "C:\Python27\ArcGIS10.3\Lib\site-packages\arcrest\ags\services.py", line 82
    print k, " - attribute not implem

[2015-12-08 18:08] achapkowski commented on #134
@psiczewicz - fixed the print error.  The opendata isn't fully implemented so I didn't add it to the setup.py yet.

[2015-12-08 18:08] #134 closed

[2015-12-08 19:44] psiczewicz commented on #134
In version 3.5.1, arcrest\__init__.py includes the line:
from . import opendata

Since opendata wasn’t in setup.py, I got an error in my code at ‘import arcrest’.

Thanks,

From: Andrew [mailto:notifications@github.com]
Sent: Tuesday, December 8, 2015 12:09 PM
To: Esri/ArcREST <ArcREST@noreply.github.com>
Cc: Peter Siczewicz <PSiczewicz@sidwellco.com>
Subject: Re: [ArcREST] Version 3.5.1 installat

[2015-12-09 06:56] DShokes opened #135 "Wrap layer query with call to analysis service"
I'm having a tough time converting the results of a feature layer query to the input for analysis service tools. For example I'm trying  to call field calculate on the  features object returned by query.features. it would also be great to create a buffer or run drive time analysis on queried features. I didn't see a sample that leveraged your analysis module in this way. Would this be easy to crea

[2015-12-09 10:48] achapkowski commented on #134
Thanks, I did correct that.

Andrew

[2015-12-09 10:56] achapkowski commented on #135
@DShokes - The analysis services are just GP tasks, so let's say you query a service and it returns a Feature as JSON, you can convert that to a GPFeatureRecordSetLayer object (the class is located in the arcrest\ags\_gpobjects.py file).  You would then pass that in to buffer, etc...

For buffer, I would recommend using the geometry service operations instead found here: arcrest\geometryservice\ge

[2015-12-09 17:22] DShokes commented on #135
Thanks Andrew. I was only looking in the agol module as I only work with hosted services. My end goal is creating a button that calculates field C as field A * field B for features with A and B, but not C.

[2015-12-09 21:48] mgleahy opened #136 "Invalid token when executing addItem"
I'm using the addItem method to add zipped file geodatabases to an org account (edit: using ArcREST 3.0.1).  It seems that if the upload takes too long, I get an invalid token response, like so:

[code]

My code that executes this looks something like the following:

[code]

I tried changing the 'multipart' parameter above to True (as comments for the _content.py module's addItem parameters sugges

[2015-12-10 11:15] achapkowski commented on #136
Try not passing orgurl for your security and administration classes.

[2015-12-10 14:59] mgleahy commented on #136
Ok, thanks...I'll give that a try when I'm back on my slow DSL connection.

What impact does providing the Org URL have on this?

[2015-12-10 19:10] DShokes commented on #135
I ended up using https://developers.arcgis.com/rest/analysis/api-reference/programmatically-accessing-analysis-services.htm#ESRI_SECTION1_05B0C9E863C045CB975DCB674874FA38
In one test I ran the fieldCalculator Task with the parameter ``` {
            'inputLayer': {
            'url':feature_layer,
            'filter':"Size IS NULL"},
            'expressions': [{
            'field': {"name" : "

[2015-12-10 19:32] gg7aph opened #137 "remove all content script only works if specified user is present in org"
I'm using the "remove_all_content_groups_allusers.py" sample.
I've created a comma seperated list of users but the script gives the below error if user specified in py script is not present in org:

'HTTPError: HTTP Error 400: BAD_REQUEST'

[2015-12-10 19:33] achapkowski commented on #137
Please post your code.

[2015-12-10 19:58] gg7aph commented on #137
It's your coded, dude....it's the sample:
https://github.com/Esri/ArcREST/blob/master/samples/remove_all_content_groups_allusers.py

[2015-12-10 21:08] MikeMillerGIS commented on #137
Checked in a fix that should proceed normally if user does not exist, please verify

[2015-12-10 21:23] psiczewicz opened #138 "addByPart has size limitiation in Windows"
I was running User.addItem() with multipart=True, to upload a tile package over 1gb to AGOL.  This called UserItem.addByPart, which gave me an error on the following line:
     mm = mmap.mmap(f.fileno(), 0, access=mmap.ACCESS_READ)

WindowsError: (8, 'Not enough storage is available to process this command').

From searching (https://bugs.python.org/issue16743) it looks like there's a 1gb limit on

[2015-12-11 03:20] mgleahy commented on #136
I tried not passing orgUrl to the security class...that seems to be ok, but doesn't change the outcome if the upload takes too long:

As for the administration class, I am not able to create an instance of that without passing an org URL to it (or I can pass None for the org URL, but then it requires a URL to be given to the security class).

If I do not supply a URL for both the security and admi

[2015-12-11 04:13] mgleahy commented on #136
Looks like I answered my own question.

I found that the security.py module has a default parameter: `_defaultTokenExpiration = 5`

In my sample code, I set `arcrest.security._defaultTokenExpiration = 15` before instantiating the security and administration classes.  That did the trick.

So...is this the best approach?  Is it reasonable to just plug in a relatively long timeout to accommodate poss

[2015-12-11 12:05] achapkowski commented on #136
Expanding the default expiration time is valid, though if you are using a token handler, the tokens should refresh automatically after the 5 minutes.

[2015-12-11 12:07] achapkowski commented on #138
@psiczemicz – this is a python limitation for sure.  Have you tried using 64-bit python or Python 3.4?

Also, please post your system specifications like OS, RAM, if it’s 32 or 64 bit OS, ArcGIS version, etc…

[2015-12-11 13:46] psiczewicz commented on #134
I ran the new setup.py, and it's missing a comma after 'arcrest/opendata'.

Pete

[2015-12-11 13:48] MikeMillerGIS commented on #134
Was fixed in a PR this am
https://github.com/Esri/ArcREST/commit/e7bd05b4ae9c9ebe0de461d6df4721ce983b6f22

[2015-12-11 14:33] mgleahy commented on #136
Everything with the token handler has worked fine up to this particular scenario.  It seems to me that the REST API with ArcGIS Online isn't checking the validity of the token until the entire POST request payload body has been delivered.  So if it takes longer to upload the post body than the expiration time of the token, then the token will be invalid by the time the upload is complete...at whic

[2015-12-11 18:15] #137 closed

[2015-12-12 20:19] gg7aph opened #141 "'User' object has no attribute 'groups'"
I am using the latest ArcREST-master and have ran into the below issues when using the "remove_all_content_groups_allusers.py" sample:

'User' object has no attribute 'groups'

[2015-12-14 11:26] achapkowski commented on #141
The sample was written for v3.0.1 not the current master branch of 3.5.0.

3.0.1 can be found here: https://github.com/Esri/ArcREST/releases/tag/v3.0.1

Also please feel free to upgrade the samples!

[2015-12-14 11:26] #141 closed

[2015-12-14 11:29] achapkowski commented on #136
@mgleahy before you commit your uploads, you can try printing out the token and see if you get a message stating that the token is invalid.  If it is, you can then re-create the security handler and override the self._securityHandler object on the class.  This will force the class to get a new token to ensure it is not expired.

[2015-12-14 11:33] achapkowski commented on #133
creating replicas has lots of different options.  I suggest you read the following link:
http://resources.arcgis.com/en/help/arcgis-rest-api/#/Sync_overview/02r300000112000000/
as well as all the sub-sections in the sync help.

Thank you

[2015-12-14 11:33] #133 closed

[2015-12-14 11:34] #135 closed

[2015-12-14 12:24] mgleahy commented on #136
The token is definitely valid at the time the upload begins...the addItem operation is the first thing the security handler is being used for in my script, and I can see the token being generated right before the upload starts.  I think it's just the way the http post operation works that presents a challenge with this...the server-side doesn't get to see the token until the upload completes.  On

[2015-12-14 14:54] ziegenf2 commented on #133
Hi Andrew,

Thanks for the links. I have been reading through them and am still a bit
confused. I believe that parameter I want for attachmentsSyncDirection is
download, but it is still giving me errors saying the parameter is invalid.
I have tested using a variety of different parameters that I think could be
the solution, but nothing is working. It could be that I am missing
something else, but

[2015-12-14 15:05] MikeMillerGIS commented on #133
These look like the valid values
![image](https://cloud.githubusercontent.com/assets/2707285/11784434/35bfe1fa-a24a-11e5-8353-0eaf7662ae76.png)

[2015-12-14 21:23] psiczewicz commented on #138
I was working with ArcGIS 10.3.1, python 2.7.8 32 bit.  I switched to use python 2.7.8 64 bit with ArcGIS 10.3.1 background geoprocessing, and the upload worked fine.  Also, I'm using Windows 8.1, 64bit OS.
Thanks,

[2015-12-14 21:28] psiczewicz commented on #134
I tried installing today's Version 3.5.1 with Python 3.4, and I ran into some syntax errors. There are a  number of cases similar to this first one:

1.  File "C:\Python34\Lib\site-packages\arcresthelper\orgtools.py", line 276
    except Exception,e:
                    ^
SyntaxError: invalid syntax

There was one case of this syntax:

2.  File "C:\Python34\Lib\site-packages\arcrest\opendata\_open

[2015-12-15 09:14] lucksimo opened #142 "print REST requests in IDE"
Is there a switch I can use to let ArcREST print the REST requests it sends to Server/AGOL? I am new to ArcREST. I'v been using pythonWin, now I am trying pyScripter. in the IDE there's nothing I can use to monitor network traffic, or force the traffic go through fiddler so I can see the requests.

Thanks a lot.

[2015-12-15 10:14] achapkowski commented on #138
@psiczewicz I'm glad to hear it's working!  Thank you for the information.

[2015-12-15 10:14] #138 closed

[2015-12-15 10:17] achapkowski commented on #142
@lucksimo there is no flag to print out the traffic.  I would use tools like fiddler are great (http://www.telerik.com/fiddler) for monitoring internet traffic.

There are other traffic monitoring products out there, but I mainly just use fiddler.

[2015-12-15 12:54] lucksimo commented on #142
Thanks Andrew @achapkowski , I'll give it a try.
BTW, Is there anyway to get your presentation for 2015 ESRI Developer Summmit ---  Using the ArcREST Python Package? I searched all over the world, but no video, no ppt/pdf can be found...

[2015-12-15 12:55] lucksimo commented on #142
Thanks Andrew @achapkowski , I'll give it a try.
BTW, Is there anyway to get your presentation for 2015 ESRI Developer Summmit --- Using the ArcREST Python Package? I searched all over the world, but no video, no ppt/pdf can be found..

[2015-12-15 13:12] lucksimo commented on #126
sorry for the late response @achapkowski , I'v been tied up on some emergency stuff.

Using a local proxy like cntml can help when using ArcREST behind enterprise proxy. It seems there is no way to explicitly input your windows credentials in some ArcREST functions although it allows users to provide proxy_url and proxy_port. Since local proxy saves the credentials in its config file, you don't ne

[2015-12-15 13:17] achapkowski commented on #126
@lucksimo  - Thanks for posting this!  I'm sure it will help lots of people.

[2015-12-18 13:43] simoxu001 opened #145 "Help document is outdated"
Is the help document on the main page is still for v2.x?

I was searching createReplica function, under the Documentation (http://esri.github.io/ArcREST/index.html) I got this:

createReplica(replicaName, layers, keep_replica=False, layerQueries=None, geometryFilter=None, returnAttachments=False, returnAttachmentDatabyURL=True, returnAsFeatureClass=False, out_path=None)

and the submodules under a

[2015-12-22 01:19] #142 closed

[2015-12-29 19:01] bnadler opened #146 "Uploading 3mb .tpk with AddItem creates 1kb item"
Using the addItem sample, and pointing to AGOL Org account.
Script completes successfully item is created but file is not uploaded.

[2015-12-29 19:18] bnadler commented on #146
Sample is missing filePath variable in the addItem
 userInfo.addItem(
                itemParameters=itemParams,
                **filePath=**

[2015-12-29 19:18] #146 closed

[2016-01-07 01:19] simoxu001 opened #149 "uninstall the ArcREST package"
I'v spent several hours trying to remove ArcREST, I am still scratching my head.
"pip uninstall" ended up with a warning which says it will only spatially remote the arcrest package.
setup.py doesn't have a unintall command
I understand behind the scene, distutils is doing the work for packaging and installing, but unfortunately it only gives you a one-way ticket, no way to come back (to do the un

[2016-01-07 11:28] achapkowski commented on #149
@simoxu001 - is this for python 2.7 or python 3.x you are seeing this issue?

[2016-01-07 11:28] #136 closed

[2016-01-07 13:57] tpcolson opened #150 "3.5.1 breaks fs.createReplica"
With version 3.01. on Python 2.7.8 (default, Jun 30 2014, 16:03:49) [MSC v.1500 32 bit (Intel)] on win32, the following:

import arcpy, sys, traceback
from arcpy import env
import time, os
from subprocess import call
from arcrest.security import AGOLTokenSecurityHandler
from arcrest.agol import FeatureService
from arcrest.common.filters import LayerDefinitionFilter

if __name__ == "__main__":

[2016-01-07 14:03] achapkowski commented on #150
Check out:

https://github.com/Esri/ArcREST/blob/master/samples/create_replica_fs.py

The createReplice function changed @ 3.5.x:
Here is a list of the allowed inputs and the default values:
<code>
createReplica(replicaName, layers, layerQueries=None,
                    geometryFilter=None,  replicaSR=None,
                    transportType="esriTransportTypeUrl",
                    returnAttach

[2016-01-07 14:25] tpcolson commented on #150
hmmm, now I get

Traceback (most recent call last):
  File "C:\Temp\create_replica_fs.py", line 31, in <module>
    out_path='\\\\inpgrsms05vm\COMMON\RMS\Fisheries_Management\Angler_Creel\Data\Tabular\Archive\\'+time.strftime("%Y%m%d%H%M%S"))
TypeError: createReplica() got an unexpected keyword argument 'dataFormat'

but if I remove dataFormat="filegdb", it works (defaults to JSON). Is there anoth

[2016-01-07 15:36] tpcolson commented on #150
I was able to get it working with:
    result = fs.createReplica(replicaName='Demo',
                              layers=[0],
                              returnAsFeatureClass=True,
                              out_path='C:\\temp')

[2016-01-07 15:36] #150 closed

[2016-01-07 17:23] tpcolson opened #151 "Request for example using http://esri.github.io/ArcREST/arcrest.security.security.html and PKI"
Any chance you could publish a sample script that utilizes http://esri.github.io/ArcREST/arcrest.security.security.html? I see something like https://github.com/Esri/ArcREST/blob/master/samples/update_user_password.py. What would be helpful would be something simple that hits a secure arcgis service that's accessed through a https web adapter, using windows authentication and smart-card-only login

[2016-01-07 18:41] achapkowski commented on #151
@tpcolson - your sample you are asking for is very complex.

First you'll need to read the smart-card: http://pyscard.sourceforge.net/ and grab the information you need.  Then you'll need to pass the user windows authentication to the web request.

I don't have a site setup with that configuration but if you need help, I can try to provide guidance for your custom security handler.

[2016-01-07 23:58] simoxu001 commented on #149
@achapkowski - I am using python 2.7.8 coming with ArcGIS 3.0
and I installed ArcREST using $python setup.py install as instructed, I only run pip install for the requirements.
If run pip install for ArcREST, I will end up installing a very different version (3.0) from PyPI. I won't have problems to uninstall it, because pip will take care of it.
pip can't uninstall the packages installed by "setu

[2016-01-08 02:32] m-oneill opened #152 "Requesting to add 'chunksize' arguments for updating existing services"
Requesting to add 'chunksize' arguments to the two calls (delete, add) within the publishingtools.updateFeatureService() function. Using this with [portalautomation.py](https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/portalautomation.py) I was encountering a '404' error for certain input data. I was able to overcome the error by trying this modification.

publishingtools.updateFeatur

[2016-01-08 03:09] m-oneill opened #153 "Question: New arguments for updateFeatureService()?"
Regarding publishingtools.[updateFeatureService()](https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/publishingtools.py#L2662) ... Currently [updateFeatureService()](https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/publishingtools.py#L2662) takes a URL.

Personally I like referencing a feature service layer by its `serviceItemId` and `name` instead of the hard-coded URL.

[2016-01-11 21:28] MikeMillerGIS commented on #153
Added option, please test and let me know if this resolves the issue

[2016-01-11 21:28] MikeMillerGIS commented on #152
Added option, please test and let me know if this resolves the issue

[2016-01-12 09:13] simoxu001 opened #156 "FeatureService.tables"
FeatureService.tables will always return empty list [],

Because line 350 in the definition of_getTables(self) in file services.py is

                    self._layers.append(FeatureLayer(url=self._url + "/%s" % l['id'],
                                                     securityHandler=self._securityHandler,
                                                     proxy_port=self._proxy_port,

[2016-01-12 21:14] #156 closed

[2016-01-13 02:08] simoxu001 commented on #156
OK, it's working now.

[2016-01-13 10:48] #149 closed

[2016-01-15 10:48] #153 closed

[2016-01-15 10:48] #152 closed

[2016-01-15 15:05] dstubbins opened #157 "A working example of uploading a large fgdb to ArcGIS Online."
It would be great to see a working sample that shows uploading a large fgdb to ArcGIS online.  I have tried with the addItem sample but seem to run into many issues with timeouts or failing to get multipart uploads working.

For example I have been trying to use the latest additem sample to upload a large file geodatabase using the multi although the process seems to complete, there is an error at

[2016-01-15 16:02] achapkowski commented on #157
What version of ArcREST are you using?

[2016-01-15 17:15] dstubbins commented on #157
3.0.1 release

[2016-01-15 18:52] achapkowski commented on #157
This code works at v3.5.1.  I tested it today.

     sh = arcrest.AGOLTokenSecurityHandler(username, password)
     admin = arcrest.manageorg.Administration(securityHandler=sh)
     content = admin.content
     user = content.users.user(username)
     ip = arcrest.manageorg.ItemParameter()
     ip.title = "BigFileData"
     ip.type = "Shapefile"#"File Geodatabase"
     ip.tags = "BigDataFile"

[2016-01-20 11:52] achapkowski commented on #151
@tpcolson  - closing due to lack of response.

[2016-01-20 11:52] #151 closed

[2016-01-20 11:53] achapkowski commented on #157
@dstubbins  - closing due to lack of response.

[2016-01-20 11:53] #157 closed

[2016-01-22 18:47] m-oneill commented on #153
Works great! I like how you retained the option within the config to default to **ItemId** & **LayerName** but still use **URL** if the others don't exist.
[code]

Thanks @MikeMillerGIS @achapkowski

[2016-01-22 18:56] m-oneill commented on #152
Tested and it works as expected. Success!
Thanks @MikeMillerGIS

[2016-01-22 19:52] m-oneill opened #158 "AddFeaturestoFeatureLayer() error message improvement?"
Not a bug; merely a friendly request wrapped in a question. Regarding [AddFeaturesToFeatureLayer] (https://github.com/Esri/ArcREST/blob/master/src/arcresthelper/featureservicetools.py#L354)...

My service updates sometimes fail with an error message (shown below) that isn't completely helpful. The message is generic, and maybe it has to be that way, but I'm wondering if it can be made more helpful

[2016-01-25 18:29] mshihadeh opened #159 "Sample for publishing a geodatabase?"
I am new to Python, and am trying to write a script that I can add to my task scheduler to zip, upload, and publish a geodatabase to AGOL. In the examples here, all items have been added using the simple addItem, but my geodatabase exceeds the maximum size for this method. It is likely that I will need to use uploadByParts, but I am having a bit of trouble figuring out how to go about this (again,

[2016-01-25 23:46] achapkowski commented on #159
Use the add item function and set multipart to true

[2016-01-31 00:43] ajturner opened #160 "ImportError: No module named geocoder"
Installing ArcREST for the first time, then in Python console `import arcrest` reports `ImportError: No module named geocoder`

where is `geocoder` requirement expected to come from?

[2016-01-31 02:26] ajturner opened #162 "Discussion: Simplified interfaces"
Just a start of a discussion based on initial impressions learning ArcREST.

ArcGIS has a lot of idiosyncrasies based on history, underlying implementation details and data models. This can make it confusing for a developer new to ArcGIS to interact with our system as a data management system.

For example, here is what is currently required to update the title of an item:

[code]

Why do I need t

[2016-02-01 11:02] MikeMillerGIS commented on #160
Looks like we are referencing it here

https://github.com/Esri/ArcREST/blob/master/src/arcrest/agol/helperservices/__init__.py

[2016-02-01 15:42] MikeMillerGIS commented on #160
Andrew, it looks like you uncommented out the import
https://github.com/Esri/ArcREST/commit/433b40d503ce0a76c3340bc921f69bfe3701f366

[2016-02-01 15:44] #160 closed

[2016-02-01 17:00] bnadler opened #163 "Import arcrest fails on import six"
Traceback (most recent call last):
  File "<pyshell#1>", line 1, in <module>
    import arcrest
  File "C:\Python27\ArcGIS10.2\lib\site-packages\arcrest\__init__.py", line 3, in <module>
    from . import agol
  File "C:\Python27\ArcGIS10.2\lib\site-packages\arcrest\agol\__init__.py", line 2, in <module>
    from .services import FeatureService, FeatureLayer, TableLayer, TiledService
  File "C:\Py

[2016-02-01 22:58] achapkowski commented on #162
@ajturner - there are two item object in the AGOL REST API, a user item and a item.  The user item is what one see when you are logged in to AGOL verse what one sees when you are not logged into AGOL.  Some responses from function calls return items and others return user items, some just return the item id.

getItem() return an Item because all users can should be able to see that item regardless

[2016-02-02 19:10] ajturner commented on #162
This is my point. A library does not need to merely be a thin skin over the API paths. Instead it can provide a higher-level conceptual interface that obfuscates the idiosyncrasies of ArcGIS.

For example in Open Data we provide an API for _dataset_ which can be a FeatureService Layer, ImageService Layer, TableService CSV, etc. and it definitely hides whether I own it or not. Instead there are cap

[2016-02-02 19:14] ajturner commented on #160
I uncommented my local comment out of geocoder. It is still in Master. Can this line be removed from Master?

[2016-02-02 19:54] #163 closed

[2016-02-02 19:55] MikeMillerGIS commented on #160
The line is commented out.  So the import does not fail.  I need to ask @achapkowski if geocoder is a valid module or not.
https://github.com/Esri/ArcREST/blob/master/src/arcrest/agol/helperservices/__init__.py#L5

[2016-02-02 23:52] jessnoo opened #165 "Question about numpy"
Hiyas --

I'm working on some testing with ArcREST and no ArcGIS Desktop install -- so, on a clean machine, I installed Python 3.4.4 and went through the ArcREST install steps, but got an error about numpy.

![image](https://cloud.githubusercontent.com/assets/6181441/12768493/cc099574-c9c4-11e5-86df-59077da1cc98.png)

Wanted to check in on this -- perhaps I've missed a configuration step... ?

tha

[2016-02-03 00:06] MikeMillerGIS commented on #165
Numpy is required, can you run a pip install of it?

[2016-02-03 00:41] jessnoo commented on #165
Yep, I can do that.

[2016-02-03 05:41] jessnoo commented on #165
installing numpy with pip worked -- would it make sense (or even be possible) to include it in the requirements.txt?

[2016-02-03 10:37] MikeMillerGIS commented on #165
Will update the readme, thanks

[2016-02-03 11:53] achapkowski commented on #162
@ajturner - I understand your point, the REST package can seem some what daunting compared to other simplified packages in Python.  It's sort of like the AO of REST API where you can basically do everything.

Some of the Python package has been simplified: A good example of this is the ags sub-package where if you use the Server class inside the server.py.  It basically lets you walk the server an

[2016-02-03 13:42] MikeMillerGIS commented on #162
This was sort of my idea when developing the ArcRestHelper.  To build a class on top of ArcRest that provide higher level functions.  As the functions I created in this class were built for solutions that needed them, the vision was never carried through.  I feel ArcRest should remain as the low level interface with all the capabilities of the Rest API.  Another library that abstracts this and pro

[2016-02-03 15:13] mshihadeh commented on #159
Thanks, I've set multipart to true and am successfully uploading the geodatabase, so thank you for that. However, I am now having a problem getting the proper publish parameters. Analyze and analyze parameters is set up nicely to return the base parameters for a csv that can be passed directly to publish, but I can't seem to find anything to do the same with a file geodatabase. I tried using the c

[2016-02-03 15:16] MikeMillerGIS commented on #165
Readme updated and setup updated

[2016-02-03 15:16] #165 closed

[2016-02-03 15:21] mshihadeh commented on #159
Thanks, I've set multipart to true and am successfully uploading the geodatabase, so thank you for that. However, I am now having a problem getting the proper publish parameters. Analyze and analyze parameters is set up nicely to return the base parameters for a csv that can be passed directly to publish, but I can't seem to find anything to do the same with a file geodatabase. I tried using the c

[2016-02-03 15:44] jmwenda opened #166 "Time support not being converted for the Service object/layer object"
After creating a service object using the library, and one tries to get the timeInformation, time information is not passed and raises the error *** ValueError: year is out of range

i.e
http://arcgis.cast.uark.edu/ArcGIS/rest/services/AGFC/All_Deer_50MCP_Oct11/MapServer/0

[2016-02-03 15:46] achapkowski commented on #166
Can you share your code?

[2016-02-03 16:22] jmwenda commented on #166
So this occurs at both the service level and the layer level. i.e
https://gist.github.com/jmwenda/590117812c0a058b175f

Trying the same with other time enabled services return the same error.

[2016-02-04 11:39] ajturner commented on #162
@MikeMillerGIS I appreciate the preference to keep an interface in ArcRest 'pure' as a simple Python wrapper to the Portal HTTP API.

However, as you mention, I don't think that precludes using this basic library to then power a higher-level abstraction. I'm agnostic to _how_ it's actually packaged up, but particular to _what_ the experience is for the majority of developers.

Personally, I think

[2016-02-04 11:56] achapkowski commented on #162
@ajturner - with any wrapper/language/python package there is a learning curve.  For a developer to just write their own wrapper, does that mean they didn't have time to learn the product, or did they not actually understand the product?

Maybe we can do a summit of ArcREST developers at UC 2016 and do a community enhancement recommendation?

[2016-02-04 19:36] ajturner commented on #162
@achapkowski sure there is - however I would hope the learning is about the library and making it simple, not requiring someone to learn the Portal HTTP API plus the Python library nomenclature.

Purely quantitatively I'm suggesting 12 LOC to 7 LOC. now that's not entirely a fair comparison, but most developers I know are lazy, at least in RTFM. So can we make it extremely straight-forward.

Treat

[2016-02-10 11:06] achapkowski commented on #166
@jmwenda - Thank you for the code.  I'll get back to you with what I find.

[2016-02-10 11:08] achapkowski commented on #159
You don't use analyze, that is only for CSV.

For publishing FGDB, use the PublishFGDBParameter class.

[2016-02-10 14:33] mshihadeh commented on #159
I realize analyze is for CSV files, but there is nothing comparable to this for geodatabases, as I mentioned. Analyze retrieves the publish parameters for a CSV file to be passed to PublishCSVParameters, most importantly having layerInfo set up correctly. Similarly, I need to retrieve this information for the geodatabase, so I can pass layerInfo and other parameters to PublishGDBParameters, but I

[2016-02-11 17:27] tpcolson opened #170 "additem_webmap_sample.py fails on print user.addItem"
I'm sure this is a silly syntax error:

When I copy https://github.com/Esri/ArcREST/blob/master/samples/additem_webmap_sample.py exactly, and only change to my AGOL UID and PW, it fails on syntax at print user.addItem. I've tried numerous combinations of including, not including portalId (which I assume from http://esri.github.io/ArcREST/arcrest.manageorg.administration.html to be the AGOL Org ID)

[2016-02-11 17:46] tpcolson commented on #170
Resolved by the following modification to the sample: Additional paranthesesis around "print" and defined map_jason correctly:

[code]

[2016-02-11 17:46] #170 closed

[2016-02-11 18:34] achapkowski commented on #96
@hrm-kennyn - sorry for the delay, but update by multipart is in the code.

[2016-02-11 18:34] #96 closed

[2016-02-11 18:55] DShokes opened #171 "MapService exportTiles sample"
I'm muddling through trying to create a tpk from [tiled basemaps](http://tiledbasemaps.arcgis.com/arcgis/rest/services/Canvas/World_Light_Gray_Base/MapServer). A sample showing non-Admin interactions with a public map services might clear up some confusion. However, I'm also having difficulty working with async jobs.  For example,
[code]
returns\:
```{'jobStatus': 'esriJobSubmitted', 'jobId': 'j63

[2016-02-12 20:23] tpcolson opened #172 "Enhancement: arcrest.manageorg.parameters module support for folders and sharing"
This is an enhancement request to modify arcrest.manageorg.parameters module to allow specification of owner folder and sharing (group) id's when, for example, using https://github.com/Esri/ArcREST/blob/master/samples/additem_webmap_sample.py to batch create web map items. Would be handy to have a CSV file that allows in-line variable substitution that contains a folder that the item goes into, an

[2016-02-16 12:14] achapkowski commented on #172
When you add an item, the functionality already exists to place items into folders and to set sharing.

Sharing cannot be set until an item is added.  When you successfully add an item, addItem() returns an object of that item.  When you obtain that object, call the share() on Item.

As for setting folders, this is done by switching the currentFolder property to the folder you wish place the item.

[2016-02-16 14:08] tpcolson commented on #172
Hi thanks for the quick reply! I got the folder designation working pretty easily, but I'm drawing a blank on the share arguments. I've tried
`item.share = "group guid"`
and
`item.share = "group name"`

both before and after
[code]
which outputs
`..."sharing": {"access": "private", "groups": []}}`

as well as the item.id further up.

[2016-02-16 14:21] MikeMillerGIS commented on #172
Here is some code that might help you

groupNames = ['group1','group2']
admin = arcrest.manageorg.Administration(securityHandler=securityhandler)
content = admin.content
userInfo = content.users.user()
userCommunity = admin.community
group_ids = userCommunity.getGroupIDs(groupNames=groupNames)
shareResults = userInfo.shareItems(items=item.id,
                                               groups='

[2016-02-16 15:03] tpcolson commented on #172
Thanks for the hint Mike! Based on your example, here's what I came up with:

[code]
Which give me the error

[code]

So how do I pass the item.id to the addItem call?

[2016-02-16 15:09] MikeMillerGIS commented on #172
you need to add the item before sharing it.  Get the item id from the result of addItem

[2016-02-16 15:38] tpcolson commented on #172
Thanks again Mike. I'm wracking my head trying to figure out how to call the item id from addItem.

In

[code]

I've replaced `json.dumps(map_json).` with just about every variable I can think of...missing something obvious here....

[2016-02-16 15:49] MikeMillerGIS commented on #172
change print (user.addItem(itemParameters=itemParams,
                                  overwrite=True,
                                  text=json.dumps(map_json)))
to item = user.addItem(itemParameters=itemParams,
                                  overwrite=True,
                                  text=json.dumps(map_json))

This should return the item or information about the item.  From here yo

[2016-02-16 16:17] tpcolson commented on #172
Thank a bunch Mike for your patient help!

Here's what finally ended up working:

[code]

[2016-02-16 17:28] #172 closed

[2016-02-16 17:50] achapkowski commented on #166
@jmwenda - I am able to see the timeInfo for all layers that have time info associated with them:

    from __future__ import print_function
    import arcrest
    if __name__ == "__main__":
        url = "http://arcgis.cast.uark.edu/ArcGIS/rest/services/AGFC/All_Deer_50MCP_Oct11/MapServer"
        ms = arcrest.ags.MapService(url=url)
        for lyr in ms.layers:
            if lyr.timeInfo is No

[2016-02-17 12:27] achapkowski commented on #145
@simoxu001 - help has been updated here: https://github.com/Esri/ArcREST/tree/master/docs

The esri.github.io/ArcREST page will be updated later today.

[2016-02-17 13:39] achapkowski commented on #145
Issue resolved.

[2016-02-17 13:39] #145 closed

[2016-02-17 13:41] achapkowski commented on #159
Sample below.

    import arcrest
    if __name__ == "__main__":
        username = ""
        password = ""
        sh = arcrest.security.AGOLTokenSecurityHandler(username, password)
        admin = arcrest.manageorg.Administration(securityHandler=sh)
        content = admin.content
        user = content.users.user()

        ip = arcrest.manageorg.ItemParameter()
        ip.title = "gridtest234

[2016-02-17 13:41] #159 closed

[2016-02-17 13:42] #166 closed

[2016-02-17 13:43] achapkowski commented on #171
It would create a url

[2016-02-19 15:53] achapkowski opened #174 "DEV TO DO LIST"
TODO (for now):

- [x] Change url from default www.arcgis.com to the actual portal site URL
- Example: site.maps.arcgis.com instead of the default arcgis.com.  This comes from the portal self call from the portalSelf.urlKey, portalSelf.customBaseUrl items.

- [x] add new User properties on community.User class.
- [x] Handle create assignment functions
- [x] verify all properties captured on HFS/Ma

[2016-02-25 17:29] pLeBlanc93 commented on #174
Would it be possible/useful to create a global environment setting (a la `arcpy.env.overwriteOutput`) for message logging? My naive thought is something like `arcrest.env.verbose = 0|1|2` which would suppress all print functions, only show errors, and print everything, respectively.

I also plan on taking a stab at the Sphinx/jinja documentation.

[2016-02-25 18:28] MikeMillerGIS commented on #174
Paul,
  There are some good logging modules in python that we could look at leveraging - https://docs.python.org/2/howto/logging.html

[2016-02-25 19:40] achapkowski commented on #174
We can try to create an htttphandler(debug=1) to print out urllib messages?

Also new in the 3.5.3 version there is a object.last_code, last_message, and last_url which can help in debugging as well.

[2016-02-25 19:49] MikeMillerGIS commented on #174
Or just use fiddler ☺

[2016-02-26 06:53] DShokes opened #177 "url properties aren't encoded before calling"
The outputs to some analysis tools are not replacing " " with "_" automatically for map viewer users. As a result, we have some feature services with names like "http://services.arcgis.com/<OrgID>/arcgis/rest/services/2015 Field Day Drive Time/FeatureServer".

This causes running the sample [addFieldToHostedFeatureService.py](https://github.com/Esri/ArcREST/blob/master/samples/HostedFeatureService

[2016-02-26 19:55] jiay0921 opened #178 "createReplica not downloading any result"
I am trying to create replica using ArcREST version 3.5_Release. The script works well, but the only problem is that it won't download the filegdb directly (this means nothing will be downloaded in out_path folder). I need to manually copy the url from result and download zip file. I am wondering if there is a way to download the filegdb directly. The script and result are shown below.

Script:

[2016-02-27 00:59] chris-fox opened #179 "Include response in any raised exceptions"
When raising an exception due to some failure could we include the response in the exception message. This would be helpful in long running scripts where we are logging information to be able to debug failures.

For example in publishItem the response is being printed to the output, but not added in the exception message.

                            if status['status'] == 'failed':

[2016-02-29 19:34] DShokes commented on #177
I made a work around that encodes spaces in service names and removes 'admin/' from the url string. This gives me all of the feature services in non-admin form

[code]
With these functions I can then query every feature in the organization! Ultimately, this allows me to build auditing tables on a local sql server to track feature edits. In a disaster recovery scenario, such as when features are in

[2016-02-29 22:04] wyogisguru opened #181 "securityinfo"
When filling in the parameters below for a non secure public feature server(NOT Portal, ArcGIS Rest Feature Server), which parameters should I fill for the securityinfo?  Keep getting invalid token when a token shouldn't be required.

Error
appInfo  - attribute not implemented in Portal class.
authorizedCrossOriginDomains  - attribute not implemented in Portal class.
appInfo  - attribute not imple

[2016-03-01 21:20] cameronezzi commented on #178
I too am having the same problem. The only difference is I am using v3.0.1. If I run the following code:

    result = fs.createReplica(replicaName='Demo', layers='0', keep_replica=False,
                              layerQueries=None,
                              geometryFilter=None,
                              returnAttachments=False,
                              returnAttachmentDatabyURL=F

[2016-03-01 21:48] gaolig opened #182 "TypeError: can only concatenate list (not "NoneType") to list"
I am receiving the subject error when running the sample "adds_rows_to_service.py".  The error occurs after most of the rows are added to the service:

I have tried with a couple different feature services and get the same results.  The services have around 8,000 records with ~30 fields.

The code is below, which is the same as the sample except for the variables.  I have also tried various chunk

[2016-03-02 00:35] achapkowski commented on #181
@wyogisguru if you have a service, then you would use an AGSSecurity token handler.  If you don't need security, then pass None.

[2016-03-02 00:36] achapkowski commented on #179
@chris-fox I'll take a look at the LOE for this.  Thank you

[2016-03-02 00:36] achapkowski commented on #177
I added code to encode the values in each get/post.

[2016-03-02 00:36] #177 closed

[2016-03-02 00:39] achapkowski commented on #158
@m-oneill the response of a 500 error is a timeout error.  I completely agree it's not too helpful, but that is what the AGO servers return.

I guess beyond samples, we need a solid wiki?  What do you think?

[2016-03-02 11:34] SergStol commented on #157
I have the same issue. The zipped FGDB i am testing with is 186MB and uploads fine manually to AGOL. Once I do it with the code, the logs show processing of AddItem, but once finished, no item id is returned and nothing is visible in My Contents on AGOL.

[2016-03-02 11:50] achapkowski commented on #178
issue resolve with latest commit for v3.5.4 in dev.  Thank you for bringing this to our attention.
See commit 6a0cea9c71a5738542fa3636a1ed1c79eacd52d4

[2016-03-02 11:50] #178 closed

[2016-03-02 11:54] achapkowski commented on #171
@DShokes Davin, is this on a mapservice through ArcGIS Server or ArcGIS Online?
If arcgis server,what version are you using?

Thank you

[2016-03-02 12:22] achapkowski commented on #157
from __future__ import print_function
    from __future__ import absolute_import
    import arcrest

    if __name__ == "__main__":
        sh = arcrest.AGOLTokenSecurityHandler(username="username", password="password")
        admin = arcrest.manageorg.Administration(securityHandler=sh)
        user = admin.content.users.user()
        ip = arcrest.manageorg.ItemParameter()
        ip.title = "A

[2016-03-02 15:19] SergStol commented on #157
Thanks for a quick response! The code works fine with multipart = False, the file geodatabase is uploaded on AGOL, its only issue when I set multipart to True.

I have created a workaround by creating an empty FGDB, zipping it, and using addItem() with multipart=False, then doing an updateItem() with multipart = True and pointing data to the full zipped FGDB to be uploaded. This seems to work fine

[2016-03-02 15:28] gaolig commented on #182
I have been able to determine that this is being caused by null geometry.  Running the "Repair Geometry" GP Tool appears to fix the issue.

However, our data resides in SDE, and the Repair Geometry tool does not work with SDE data.  I ended up exporting the data from SDE to a file GDB, running the Repair Geometry tool, and then re-importing the data back into SDE.

Since this isn't an issue with t

[2016-03-02 15:32] MikeMillerGIS commented on #182
Can you send me a copy of the bad data so I can test and trap the issue?  Mmiller@esri.com

[2016-03-02 15:37] achapkowski commented on #157
@SergStol what version of ArcREST are you using?

[2016-03-02 15:45] SergStol commented on #157
3.5.3/3.5.4, installed on 23rd of Feb

[2016-03-02 16:21] SergStol commented on #157
Uninstalled and installed pure 3.5.3 stable release and same issue persists

[2016-03-02 16:52] achapkowski commented on #157
@SergStol - The fix went into dev, which you can download here: https://github.com/Esri/ArcREST/archive/master.zip

[2016-03-02 18:30] DShokes commented on #171
I'm using ```r"http://tiledbasemaps.arcgis.com/arcgis/rest/services/Reference/World_Transportation/MapServer"``` and I think I found the problem.
I changed:
[code]
to
[code]
and it works. v.asDictionary also works. Strangely, if I just print v on its own I get: ```TypeError: <bound method GPString.asDictionary of <arcrest.ags._gpobjects.GPString object at 0x0F09D2F0>> is not JSON serializable```

[2016-03-02 18:35] jiay0921 opened #183 "How to extract url from the result of createReplica"
For the current ArcREST 3.5.3, we cannot download filegdb directly. My question is how to automatically extract url from the result of createReplica function. The script and result are shown below.

Script:
result = fs.createReplica(replicaName='Demo',
                              layers=[0],
                              dataFormat="filegdb",
                              out_path='c:\\temp')
pr

[2016-03-02 18:42] achapkowski commented on #183
The item is a python dictionary, you just need to use the Key name.

[2016-03-02 19:16] jiay0921 commented on #183
result['responseUrl']

Thank you!

[2016-03-02 19:17] DShokes commented on #171
Here is the full test if it helps:
[code]
when async is false: ``` line 922, in exportTiles
  value = v['value']
TypeError: 'GPString' object has no attribute '__getitem__'```

when async is true: ```{'error': {'message': 'Token Required', 'code': 499, 'details': []}}```

[2016-03-02 19:29] gaolig commented on #182
Thanks Mike.  I sent an email with a file geodatabase containing the feature class with null geometry.

I edited the versioned (good) data in SDE by creating (6) features, and then tried running the script again.  It added all rows to the feature service except for the ones that I had just created.  The total count displayed was correct at 8,580; however only 8,574 rows were added to the feature s

[2016-03-02 19:55] #183 closed

[2016-03-03 02:04] MikeMillerGIS commented on #182
I did not get the email, can you verify it was sent.  I am not aware of any issues with versioned data

[2016-03-03 02:05] MikeMillerGIS commented on #181
You do not want to use the security handler helper, can you share the rest of your code?

[2016-03-03 09:50] SergStol commented on #157
Have just tried this, can confirm that now addItem() works with multipart turned on. Thanks!

[2016-03-07 01:03] simoxu001 opened #186 "attribute not implemented in Feature Layer"
When adding fields to the Feature layer, get the following warnings:

standardMaxRecordCount - attribute not implemented in Feature Layer.
tileMaxRecordCount - attribute not implemented in Feature Layer.
maxRecordCountFactor - attribute not implemented in Feature Layer.

[2016-03-07 10:57] achapkowski commented on #186
@simoxu001 is this both ArcGIS Feature Layers and ArcGIS Online? or just one of them?

[2016-03-07 11:02] #186 closed

[2016-03-07 16:52] MikeMillerGIS commented on #182
Thanks for the data.  I enhanced the function to report out the bad features and provide more details along the way.  https://github.com/Esri/ArcREST/commit/fc201f38f179b232695b60afcc1619f61548e2d6

One thing that this exposed is how our chunking logic fails on non sequential OIDs.  So I added logic that uses numpy to get a list of OIDs to build the sql statements to use equal chunks.
https://gith

[2016-03-07 16:54] MikeMillerGIS commented on #158
I added a bunch of error check and better messaging.  Still not going to fix the 500 error.

[2016-03-07 16:59] MikeMillerGIS commented on #182
Here is the example output:
8580 features in layer
2000 features in the chunk
	Error info: {u'success': False, u'globalId': u'7CF9BBB2-FA6F-4DD2-BDA3-65084F39FCC2', u'objectId': None, u'error': {u'code': 1000, u'description': u'24126: Point coordinates cannot be infinite or not a number (NaN).'}}
1999 features added in this chunk
1999/8580 features added, 1 errors
2000 features in the chunk
2000 f

[2016-03-08 10:58] SergStol opened #187 "Updating underlying data of the Feature Service"
Is it possible to update existing Feature Service without having to first upload an Item and then Publish it again?

zipped_FGDB = "path to zipped File Geodatabase with changed features"
fs_id = 15851a30111048e0a195bf8ebd28b69f  ### Existing Feature Service

securityinfo = {}
securityinfo['security_type'] = 'Portal'
securityinfo['username'] = username
securityinfo['password'] = password
securityin

[2016-03-08 21:51] lobsteropteryx opened #188 "Bad package structure"
Looks like `pip install arcrest-package` for the latest (3.5.3) version is failing.  I believe this is because the whole directory structure is getting packaged up, rather than just `src`; the zip structure looks like:

[code]

[code]

[2016-03-09 16:49] SergStol opened #189 "filename parameter wrongly assigned when adding Item"
I am having issues with filename parameter. When using addItem() after the successful upload if I go to that item on AGOL contents (FGDB in this case) and try to update it, the filename is the same as Title, missing a '.zip' extension in the name and hence it would not allow me to update the item even though it is exactly the same zipped FGDB I have uploaded.

name = 'FGDB_Upload'
ip = arcrest.man

[2016-03-10 14:04] achapkowski commented on #189
@SergStol - i'll take a look.

What version of ArcREST are you using?

[2016-03-10 14:04] achapkowski commented on #188
Any recommendations on how to fix?

[2016-03-10 14:06] achapkowski commented on #187
@SergStol  - So this is a FGDB and you are updating the FGDB item? Did you try to publish with overwrite=True

[2016-03-10 14:06] achapkowski commented on #181
closed to no response.

[2016-03-10 14:06] #181 closed

[2016-03-10 14:06] #182 closed

[2016-03-10 14:07] achapkowski commented on #179
@chis-fox - we have added it to the TODO list.  Sorry no ETA when this will finish.

[2016-03-10 14:07] #179 closed

[2016-03-10 14:08] lobsteropteryx commented on #188
Sure--`setup.py` needs to be in the root.  I don't know if that means you'll have to update paths or not; I could take a crack at it if you like.

Also, I noticed that there are some old PYPI aliases out there-- `pip install arcrest`, for example, pulls down a very incompatible version.

[2016-03-10 16:34] SergStol commented on #187
Yes publish works with first updating the FGDB item. I thought there was a way of updating Feature Service using updateItem() I guess not.

[2016-03-10 16:35] SergStol commented on #189
3.5.3/3.5.4 master copy downloaded on 02/03/2016

[2016-03-11 17:40] jiay0921 commented on #178
@achapkowski Do you know why the create replica function doesn't return replicaID? Thanks!

[2016-03-17 11:20] achapkowski commented on #189
@SergStol  - able to reproduce, I will try to figure out a fix.  It appears that the extension gets dropped when saved on AGOL even when a file name is specified.  Most likely an issue with the addByPart function the mulipartform class.  I'll see what I find out.

[2016-03-17 11:28] achapkowski commented on #189
@SergStol - issue resolved with latest commit to master

[2016-03-17 11:28] #189 closed

[2016-03-17 11:32] #187 closed

[2016-03-17 18:57] flynryan opened #190 "createReplica Broken?"
I use the createReplica function in 3 scripts and they have all broke on 2/29/16.

[2016-03-17 18:58] MikeMillerGIS commented on #190
can you share the error you are receiving?

[2016-03-17 19:03] flynryan commented on #190
I'm not getting an error, if you use the sample code the print will be none or [].

[2016-03-17 19:16] MikeMillerGIS commented on #190
The sample works for me, here is a service you can test.  http://services2.arcgis.com/PWJUSsdoJDp7SgLj/arcgis/rest/services/JointUseSurvey/FeatureServer

Can you verify your service has sync enabled?  What permissions do you have in your org?

[2016-03-17 19:34] flynryan commented on #190
Using your service I get an HTTP error 500, All of my services are sync enabled and I'm an Admin in my org.  I've had these scripts working for over a year, nothing has changed on my side.

[2016-03-17 19:36] MikeMillerGIS commented on #190
Could you provide us an account and the url to your service to trouble shoot the issue as I cannot repo it on our services?

[2016-03-17 19:53] flynryan commented on #190
Account: user: ESRI_Temp pass: ESRITEMP1

http://services1.arcgis.com/bF44QtfoYZDGo7TK/arcgis/rest/services/TrafficRequests/FeatureServer

Try these

[2016-03-17 19:57] MikeMillerGIS commented on #190
It worked as expected, here is the resulting replica.
![image](https://cloud.githubusercontent.com/assets/2707285/13859256/f8a2e520-ec58-11e5-9d62-253934110e6d.png)

[2016-03-17 19:58] MikeMillerGIS commented on #190
I am using the version of ArcRest in Master

[2016-03-17 20:07] flynryan commented on #190
I think I'm using a version 3.  I know its not the current.  I probably have 10 scripts using arcrest if I upgrade the version will it break all of them or does most of the code carry over?

[2016-03-17 20:08] MikeMillerGIS commented on #190
I guess it depends on the scripts.  Some will just work, some things did change.

[2016-03-17 20:11] flynryan commented on #190
Thank Mike I'll upgrade on a test machine and check them one at a time.  Hopefully that fixes it.

[2016-03-18 11:12] larsdevries opened #191 "addAttachment fails"
I am using FME / PythonCaller to add attachments to a service. When I call FeatureLayer.addAttachment I get the error message "AttributeError: 'set' object has no attribute 'items' with a reference to following calls:

File "C:\Python27\ArcGIS10.3\lib\site-packages\arcrest\agol\services.py", line 1422, in addAttachment proxy_url=self._proxy_url)
File "C:\Python27\ArcGIS10.3\lib\site-packages\arcre

[2016-03-18 11:35] achapkowski commented on #191
Can you please post/share your code?
What version of ArcREST are you using?

[2016-03-18 12:26] larsdevries commented on #191
This is the code:

`import arcrest, fmeobjects, fme

# Template Class Interface:
class FeatureProcessor(object):
    def __init__(self):
        #PARAMETERS###########################
        username = fme.macroValues['AGO_User']
        password = fme.macroValues["AGO_Password"]
        LayerUrl = fme.macroValues["AGO_URL"]
        #PARAMETERS###########################

        #generate token#

[2016-03-18 13:20] larsdevries commented on #191
And I'm using the latest version, only today (3/18/2016) I downloaded the master version.

[2016-03-18 13:35] achapkowski commented on #191
@larsdevries - issue resolve, please pull the latest.

[2016-03-18 13:35] #191 closed

[2016-03-18 13:35] #190 closed

[2016-03-18 14:41] ngoorman opened #192 "Problem creating AGOL token"
Hi,

this is the same script as my colleague posted about in issue #191 - thanks for the quick response on that :) However, I installed the latest version and I now get the following error:

Traceback (most recent call last):
  File "<module1>", line 12, in <module>
  File "C:\Python27\ArcGIS10.2\lib\site-packages\arcrest\security\security.py", line 1167, in __init__
    self._initURL(org_url=org_

[2016-03-18 14:54] achapkowski commented on #192
try this:
arcrest.AGOLTokenSecurityHandler(username,password).

Verify the username/password as well.  Does your user have access to that service?

I cannot reproduce your issue.

[2016-03-18 15:04] ngoorman commented on #192
Thanks for the response. The change makes no difference, and the username/password I'm using are correct; I can login to AGO with them through the browser.

What would I need to do to reinstall ArcRest? I want to make sure no files of the older versions are left behind and do a clean install.

[2016-03-18 15:21] achapkowski commented on #192
It's an issue with Python 2.7.5 specifically.  We are looking into it.

[2016-03-18 15:24] ngoorman commented on #192
That's indeed the version we're using, came bundled with ArcGIS 10.2. Thanks for your help.

[2016-03-18 15:28] MikeMillerGIS commented on #192
@ngoorman I made a fix to the get function that should resolved the issue.  Tested on 10.2.1 and 10.4

[2016-03-18 15:34] ngoorman commented on #192
Yes, this fixed the problem for me with Python 2.7.5 and ArcGIS 10.2.2, and my colleague with 10.3. Thanks for the fast response!

[2016-03-18 15:37] #192 closed

[2016-03-18 15:38] achapkowski commented on #188
@lobsteropteryx - please take a crack at it.

[2016-03-18 15:40] lobsteropteryx commented on #188
Will do, thanks!

[2016-03-23 01:32] guyn2gis opened #194 "Add_User_Group Sample"
Looking at the username and groupname variables is there a recommend way to add a single user to multiple groups, or vice versa, multiple users to a single group.

[2016-03-23 18:43] mshihadeh opened #195 "add_field_layer Example Error"
I'm modeling some code off of the example add_field_layer, and I've been running into some issues. I decided to run the example file (minus actually adding the fields) to see if it was on my end or not. Turns out that it produces the same error that I was getting with my code (I saved the code as test.py):

[code]

The line of code throwing the exception (Line 29) is

[code]

I tried using multipl

[2016-03-23 20:58] catstavi opened #196 "Python 3 not supported"
When running with python 3.4, encountered a number of syntax errors in your packages, starting with: `...lib/python3.4/site-packages/arcrest/web/_base.py", line 43
    except Exception,e:`

[2016-03-24 09:56] achapkowski commented on #194
@guyn2gis there is no function/command to add a single user to multiple groups, but you can add multiple users to a single group:

see: http://resources.arcgis.com/en/help/arcgis-rest-api/#/Add_Users_to_Group/02r3000002mr000000/

[2016-03-24 09:56] achapkowski commented on #196
@catstavi - I'll take a look today.

[2016-03-25 06:25] catstavi commented on #196
Thanks, I appreciate it! This package has been really helpful.

[2016-03-25 20:24] freewheelCarto opened #197 "Do you have to be an Admin (rather than publisher) on AGOL?"
Does using ArcRest to access and modify feature services require admin privileges in AGOL?

[2016-03-30 13:17] AlexArcPy opened #198 "generateKML for map service - urllib2.HTTPError: HTTP Error 400: Bad Request"
I am on ArcREST Version 3.5.3 Release.

When trying to generate a KML file, an error is returned:
```urllib2.HTTPError: HTTP Error 400: Bad Request```

The code breaks at this line:

`resp = opener.open(fullurl=format_url)`

In the file `arcrest/web/_base.py`

`format_url` has the value of
[code]
before it's being executed.

If navigating to the URL that is built in the code in the browser, the .k

[2016-03-30 13:37] achapkowski commented on #198
What version of server are you using?

[2016-03-30 13:38] AlexArcPy commented on #198
Sorry, forgot to mention. I am on 10.3.1.

[2016-03-30 14:07] AlexArcPy commented on #198
Have tested on 10.4 machine; same error.

[2016-03-30 18:08] achapkowski commented on #198
@AlexArcPy - Issue should be resolved.

[2016-03-30 18:08] #198 closed

[2016-03-30 18:24] #197 closed

[2016-03-30 18:33] DShokes opened #200 "Setting feature geometry equal to another feature"
I tried ```feature1.set_value('geometry', feature2.get_value('geometry'))``` and it returned ```True```. I was expecting to see the feature1 object updated, but ```feature1.get_value('geometry')``` didn't change. This works for attribute fields.

Could this be fixed by adding an elif to the set_value function? Such as:
[code]
The alternative is accessing private variables: ```feature1._dict['geome

[2016-03-30 19:51] AlexArcPy commented on #198
@achapkowski , thanks a lot for helping with that. Unfortunately, it's complaining about the import on the line you've added:
`from six.moves.urllib_parse import urlencode`

`ImportError: No module named six.moves.urllib_parse`

The six is not installed in the site packages. Do I need to install it manually via pip? I do see it here at `C:\Python27\ArcGIS10.3\Lib\site-packages\arcresthelper\packag

[2016-03-30 22:59] achapkowski commented on #200
in honor of our 200 th issue.

[![Strongbad Email](https://img.youtube.com/vi/lOnkx8MXVGE/0.jpg)](https://www.youtube.com/watch?v=lOnkx8MXVGE)

[2016-03-31 03:26] DShokes commented on #200
Oh man, it's been over a decade since I've thought  of Homestar.
<a href="http://www.youtube.com/watch?v=O4gqsuww6lw"><img src="http://img.youtube.com/vi/O4gqsuww6lw/0.jpg" title="Techno" align="center" width="20%" ></a> Techno always stuck with me.

[2016-03-31 12:53] achapkowski commented on #196
@catstavi - the master branch should have the issue resolved.

[2016-03-31 12:53] #196 closed

[2016-03-31 12:55] achapkowski commented on #162
@ajturner - in progress making a facade over arcrest.

[2016-03-31 13:58] AlexArcPy commented on #198
I've got the latest code in the repo and commented out the line `from six.moves.urllib_parse import urlencode` and the kmz is generated now.

[2016-03-31 14:56] achapkowski commented on #198
I'll fix the import, it needs to grab six from the ..package submodule.  I thought I committed the change.

?

[2016-04-01 13:35] DShokes opened #203 "Creating Symbols for Arcmap?"
Is it possible to built renderers and symbols for use in ArcMap? Perhaps by creating a temporary layer file that uses a renderer built with arcrest?    I know it's not possible to create or manipulate symbols through arcpy alone.
However, somehow ArcMap reads symbology from webmap and service json in order to create a layer. Im hoping that there is a way to alter the json before giving it to ArcMa

[2016-04-01 14:17] achapkowski commented on #203
The sort answer is no, but you may want to look at the webmap json (arcpy version) and see if you can mock something up there.

[2016-04-01 22:08] ajturner commented on #162
Does that line up with Geosaurus?

[2016-04-02 11:52] DShokes commented on #203
Thanks. I read the layer function updateFromJSON. It's looks like it takes the json definition for an operatonal layer. I'll make a test script that
* copies a layer,
* adds it to map,
** renames it,
** builds unique value symbology for the json
** exports to pdf6r

[2016-04-06 15:54] mshihadeh opened #205 "Publish Does Not Return JobID?"
Trying to check the status of my geodatabase upload/publish code (which is working well, thanks for the help). Status requires the jobID, and the documentation states "jobId - The job ID returned during publish, generateFeatures, export, and createService calls." However, Publish returns the itemID. Are the itemID and jobID one and the same? It does not seem like it, because when I use the itemID

[2016-04-06 16:29] MikeMillerGIS commented on #205
Did you specify Wait?  If so, it should return the item and the job has finished.

[2016-04-06 16:31] mshihadeh commented on #205
Ahhh... I didn't even think of that, thank you. I tried using a wait, but it is a large geodatabase and I was getting timeout errors. Once I removed the wait, it worked just fine. I suppose I'll have to use a different method for verifying publishing was successful.

[2016-04-06 17:50] tpcolson opened #206 "Question: What module to use to copy content between 2 Org Account?"
Ya'll have been pretty helpful in answering questions about how to use ArcREST, so here's a tough one! I'm looking into the feasibility of using ArcREST to bulk copy Feature Services and Map Definitions including their Item Metadata from one organization account to another, where the two account are not linked in anyway. Some 3rd part tools have been suggested, but my experience with ArcREST in th

[2016-04-06 18:04] achapkowski commented on #206
Is this between portal to another portal?

[2016-04-06 18:05] #205 closed

[2016-04-06 18:06] #203 closed

[2016-04-06 18:06] tpcolson commented on #206
Two AGOL accounts.

[2016-04-06 18:06] #194 closed

[2016-04-06 18:13] achapkowski commented on #206
If it's the same site, you can just change the item's owner.
If you need to copy the data, you can export the HFS data to a FGDB.  Then you add that item back to account #2.  You can then re-publish the FGDB and now you have a HFS copy.

[2016-04-06 18:44] MikeMillerGIS commented on #206
You can use this to copy the HFS definition:
https://github.com/Esri/ArcREST/blob/master/samples/copy_feature_service_deforgorg.py

[2016-04-07 13:03] AlexArcPy opened #208 "ssl.create_default_context() not available on Python 2.7.8"
`create_default_context()` method is not available in `ssl` module on Python 2.7.8; this was added in the later version (I know that it's in 2.7.11+), so ArcREST users on Python 2.7.8 won't be able to run this (this is the version that is shipped with ArcGIS 10.4). Basically this makes it the package unusable.

The row added in commit https://github.com/Esri/ArcREST/commit/5b56d35e36de2010070ab056

[2016-04-07 13:07] achapkowski commented on #208
@AlexArcPy I'll take a look.  I'll probably have to do a version check to ensure it's there.

[2016-04-07 13:49] MikeMillerGIS commented on #208
Maybe we can use a function like this in lieu of the default context
http://www.programcreek.com/python/example/71559/ssl.create_default_context

[2016-04-07 14:38] achapkowski commented on #208
@AlexArcPy - can you pull the latest, I put a fix in.

[2016-04-07 14:53] AlexArcPy commented on #208
@achapkowski, thanks. it works great now on Python 2.7.8. please close the issue.

[2016-04-07 15:13] jmk201 opened #209 "Create_replica_fs gives an error"
Hello,
I have installed ArcREST-3.5.4 and tried running the sample script named 'Create_replica_fs  but it gives me an ImportError: No module named six.moves.urllib_parse.

get the following error :
+1: Traceback (most recent call last):
  File "C:\Projects\Mobile\BizNames\datadownload\create_replica_fs.py", line 9, in <module>
    from arcrest.security import AGOLTokenSecurityHandler
  File "C:\P

[2016-04-07 18:02] pLeBlanc93 commented on #195
@mshihadeh what version of `ArcREST` are you using?

[2016-04-08 09:45] achapkowski commented on #209
@pLeBlanc93 @jmk201 issue should be resolved thanks to pLeBlanc93's pull request.

[2016-04-08 09:45] #209 closed

[2016-04-08 09:45] #208 closed

[2016-04-08 09:46] #206 closed

[2016-04-08 09:49] #171 closed

[2016-04-11 14:27] jmk201 commented on #209
I downloaded  ArcREST-3.5.4 and tried running the script again but I get the same error .

Traceback (most recent call last):
  File "C:\Projects\Mobile\BizNames\datadownload\create_replica_fs.py", line 9, in <module>
    from arcrest.security import AGOLTokenSecurityHandler
  File "C:\Python27\ArcGISx6410.3\lib\site-packages\arcrest\__init__.py", line 3, in <module>
    from . import agol
  File

[2016-04-11 14:31] MikeMillerGIS commented on #209
Please ensure you deployed the most current code as in master, the line has been resolved:
https://github.com/Esri/ArcREST/blob/master/src/arcrest/ags/mapservice.py#L13

I see you are using your server python path, did you install ArcRest to both the 32 bit and 64 bit locations?

[2016-04-11 15:22] jmk201 commented on #209
okay, I installed it on 64 bit and deployed the most recent code.I don't get the error anymore but the
downloaded  filegeodatabase is empty. Wonder what I am missing:(

[2016-04-11 16:33] pLeBlanc93 commented on #209
@jmk201, could you open a new issue regarding the empty FGDB?

[2016-04-11 17:53] jmk201 opened #213 "the replica sample downloads empty file geodatabase."
I am working with the latest script on creating a replica. Sucessfully creates a zipped file geodatabase under C:\temp\  except that there is no data in it.

"""
  This sample shows how to create a replica from a FS

  ArcREST version 3.5.x
  Python 2/3

"""
from __future__ import print_function
from arcrest.security import AGOLTokenSecurityHandler
from arcrest.agol import FeatureService
from arcr

[2016-04-12 15:04] DShokes opened #214 "Where is _getTokenArcMap()?"
Where is security.ArcGISTokenSecurityHandler class setting ```token = self._getTokenArcMap()``` from? I don't see it in abstract.BaseSecurityHandler either.

[2016-04-12 15:11] MikeMillerGIS commented on #214
It is in ArcGISTokenSecurityHandler  as only this security method uses it

[2016-04-12 15:12] DShokes commented on #214
Oops I found it. Thanks Mike.

[2016-04-12 15:12] #214 closed

[2016-04-12 22:35] pLeBlanc93 commented on #213
Julie, could you edit your post to include the code ([Create Replica FS](https://github.com/Esri/ArcREST/blob/master/samples/create_replica_fs.py)) that you are running? Remove sensitive information as needed.

[2016-04-13 01:34] simoxu001 opened #216 "AGOLTokenSecurityHandler and/or ArcGIS Desktop login?"
I don't know if it's possible to access the credentials obtained by logging in AGOL in ArcCatalog/ArcMap in my own tool built upon ArcREST.

by doing this, I only need to login from ArcGIS Desktop once and then I will be able to run multiple tools without the need to create new AGOLTokenSecurityHandlers every time for each of them.

thanks

[2016-04-13 02:40] MikeMillerGIS commented on #216
Use the https://github.com/Esri/ArcREST/blob/master/src/arcrest/security/security.py#L877

[2016-04-13 06:58] bnadler commented on #213
I am also having an issue with the Create Replica. The sample (create_replica_fs.py) prints the file geodatabase as the response object (not the http response) and does NOT create any file (using 3.5.3). This was working in 3.0.1.

[2016-04-13 13:22] MikeMillerGIS commented on #213
The current version in master is working for me.  Can you share the service that is not working?  Is it online or portal?

Things to check:
1:  Ensure you are using the url to the service, not the layer in the service
2:  Ensure you username and password is correct.  ArcRest uses the token service, which is case sensitive, logging in through the web site uses the oauth, which is not.  Do not assum

[2016-04-13 13:31] jmk201 commented on #213
Yes, your service seems to work. Does it work only on feature layer? I am trying to download a standalone table.

http://services1.arcgis.com/MxjRokvPm7bjslyR/ArcGIS/rest/services/BusinessEditTime/FeatureServer

[2016-04-13 14:09] MikeMillerGIS commented on #213
You cannot replica a layer or table, it has to be the service

If you want to extract just a layer, you will need to look at get_local_copy on FeatureLayer, this hides the logic to call replica on the parent item(service)

[2016-04-13 14:52] bnadler commented on #213
Sure.
The create replica interface has a layers parameter, so you could create a replica with one or more layers.
It still was not working without the edit to _base.py

Ben Nadler | Esri Professional Services | Technical Analyst – Utilities, Telecom, & Energy
C: 303.884.9323 | O: 303.449.7779 X8278
[cid:storage_emulated_0_DCIM_image002_png_1454429193608]  |  Sent from my phone

-------- Original m

[2016-04-13 15:02] MikeMillerGIS commented on #213
It is working on the service provided  above without modification, can you please share a service that is not working?  Can you link the line you changed?  I do not see it on 532
https://github.com/Esri/ArcREST/blob/master/src/arcrest/web/_base.py#L532

[2016-04-13 15:23] bnadler commented on #213
Not sure which version you are working with. It is in the _get function

if maintype.lower() in ('image',
                                'application/x-zip-compressed') or
           contentType == 'application/x-zip-compressed' or
           contentMD5 is not None or
           (contentDisposition is not None and
            contentDisposition.lower().find('attachment;') > -1):

Will send you th

[2016-04-14 06:27] simoxu001 commented on #216
Thanks @MikeMillerGIS , Could you give a little bit more details? or even better, a snippet of code if possible?

[2016-04-14 07:42] simoxu001 commented on #216
Does that mean I can use ArcGISTokenSecurityHandler for the securityHandler in the following code?

    fs = FeatureService(
        url=url,
        securityHandler=agsSH,
        proxy_port=proxy_port,
        proxy_url=proxy_url,
        initialize=True)

[2016-04-14 08:58] MikeMillerGIS commented on #216
Yes, but the script must be run from within ArcMap or ArcCatalog.  There are examples in the tools folder.

[2016-04-15 00:05] simoxu001 commented on #216
Thanks @MikeMillerGIS
@BrunoCaimar
ArcGISTokenSecurityHandler works

[2016-04-18 13:48] #216 closed

[2016-04-18 19:05] RandySincoular opened #219 "Query_AGOL_Layer Sample - Not working, what am I missing?"

[2016-04-18 19:08] #219 closed

[2016-04-18 19:25] RandySincoular opened #220 "Need Help With Query AGOL Service Sample"
I am trying to get this sample to run.  I added a URL, USERNAME and PASSWORD and this script errors out.  I have a feature service in AGOL I am trying to test with.  I am not sure if I need to populate some additional 'securityinfo' parameters or not.

The error I receive is:
URLError: <urlopen error [errno 10060] a connection attempt failed because the party did not properly respond after a perio

[2016-04-18 19:32] MikeMillerGIS commented on #220
Do you require a proxy to access the internet on your network?

[2016-04-18 19:34] RandySincoular commented on #220
Hi Mike – thanks for the quick response.  We have one defined in IE.

Thanks,

Randy

From: Michael Miller [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 2:32 PM
To: Esri/ArcREST
Cc: Sincoular, Randy
Subject: Re: [Esri/ArcREST] Need Help With Query AGOL Service Sample (#220)

Do you require a proxy to access the internet on your network?

—
You are receiving this because you author

[2016-04-18 19:39] MikeMillerGIS commented on #220
You need to define the them on the proxy port and URL in the script

[2016-04-18 19:55] RandySincoular commented on #220
Hi Mike – I added the proxy URL and port 80 and get a new error.  Screenshot is in attached word doc with code snippet.  I also included a different sample that does work.

Thanks,

Randy

From: Michael Miller [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 2:39 PM
To: Esri/ArcREST
Cc: Sincoular, Randy
Subject: Re: [Esri/ArcREST] Need Help With Query AGOL Service Sample (#220)

You

[2016-04-18 19:56] MikeMillerGIS commented on #220
was not attached

[2016-04-18 20:00] RandySincoular commented on #220
I just loaded the file on your github site under the new issue I created.

https://github.com/Esri/ArcREST/issues/220

From: Michael Miller [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 2:56 PM
To: Esri/ArcREST
Cc: Sincoular, Randy
Subject: Re: [Esri/ArcREST] Need Help With Query AGOL Service Sample (#220)

was not attached

—
You are receiving this because you authored the thread

[2016-04-18 20:01] MikeMillerGIS commented on #220
Randy, it is not showing up on the site.

[2016-04-18 20:03] RandySincoular commented on #220
Hi Mike – I copied the contents of the Word doc and pasted it below.  It includes a screenshot.

Randy

[cid:image001.jpg@01D19983.66F89E30]

"""

   Query agol service

   Python 2.x

   ArcREST 3.0.1

"""

from __future__ import print_function

from arcresthelper import securityhandlerhelper

from arcrest.agol import FeatureService

from arcrest.common.filters import LayerDefinitionFilter

if __

[2016-04-18 20:11] MikeMillerGIS commented on #220
Not sure what is happening, this stuff is not showing up for me on github.

[2016-04-18 20:12] RandySincoular commented on #220
Hi Mike – our security group gave me the wrong proxy address.  Now, I am getting closer and get the message below.  I just need to make sure I have the correct where clause.

{u'error': {u'message': u'', u'code': 400, u'details': [u'Unable to perform query. Please check your parameters.', u'No where clause specified.']}}

"""
   Query agol service
   Python 2.x
   ArcREST 3.0.1
"""

from __future_

[2016-04-18 20:23] RandySincoular commented on #220
Hi Mike – ok, I got it.  I added a proxy server and port 80.  I also modified the URL of the feature service to:  url = 'http://services3.arcgis.com/sqVn1QnQEPnGQy9r/arcgis/rest/services/outage_event/FeatureServer'

That did the job.  I appreciate your help.  It’s kind of hard trouble shooting this when you are not sure what parameters to include.

Thanks again.

Randy

From: Michael Miller [mailt

[2016-04-18 20:29] MikeMillerGIS commented on #220
Glad you figured it out.  I cleaned up the communication as one of the post had an password in it.

[2016-04-18 20:36] RandySincoular commented on #220
Hi Mike – two questions:

1.       What does the ‘u’ mean in the output?

*** Remote Interpreter Reinitialized  ***

{u'layers': [{u'count': 16, u'id': 0}]}

2.       For any future support questions, is it best to post a question on the ArcREST Github site?

Thanks again,

Randy

From: Michael Miller [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 3:29 PM
To: Esri/ArcREST
Cc: Sinco

[2016-04-18 20:54] pLeBlanc93 commented on #220
The `u` you see before strings makes Python treat the string as [Unicode](https://docs.python.org/2/howto/unicode.html). There's [other prefixes as well](https://docs.python.org/2/reference/lexical_analysis.html#string-literals), most commonly `r`, for making strings raw.

For example, try to print [złoty](https://en.wikipedia.org/wiki/Polish_z%C5%82oty) in python 2.x:
[code]

[2016-04-19 12:47] RandySincoular commented on #220
Thanks Paul

From: Paul LeBlanc [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 3:55 PM
To: Esri/ArcREST
Cc: Sincoular, Randy
Subject: Re: [Esri/ArcREST] Need Help With Query AGOL Service Sample (#220)

The u you see before strings makes Python treat the string as Unicode<https://urldefense.proofpoint.com/v2/url?u=https-3A__docs.python.org_2_howto_unicode.html&d=CwMFaQ&c=GUDVeAVg1gj

[2016-04-19 18:54] Fresh-Prince commented on #213
Ben,
I've got the same issue as you. Running v 3.5.3 and createReplica will produce the print statement but no file created locally. How did you remedy this?

[2016-04-19 19:12] DShokes opened #221 "Using feature.geometry in geometryFilter"
* Objective:
Query a layer for point features within a separate polygon feature.
* Code:
[code]
* Issue:
GeometryFilter appears to want a common.Geometry or arcpy.Geometry object.
How do I convert a feature's geometry (in this case a Polygon object) to the Geometry object  that GeometryFilter is looking for?

* Error:
[code]

[2016-04-19 20:28] DShokes commented on #221
Update: Queried features have no spatialReference
[code]
Looking at [the polygon class](http://github.com/Esri/ArcREST/blob/681bdca2239e6950dc20ebd97d329fc2f1064fdf/src/arcrest/common/geometry.py#L461), it should be returning ```{"wkid":102100}```. However, the results of a REST query do not have spatialReferences inside the features parameter. [Here is an Example](http://services1.arcgis.com/ziLN

[2016-04-20 00:24] bnadler commented on #213
DISCLAIMER: THIS IS A TOTAL HACK

Look in the _get function in either .\site-packages\arcrest\web\_base.py  or .\ site-packages\arcrest\opendata\_base.py (Or both?)
Search for this line:
if maintype.lower() in ('image', 'application/x-zip-compressed') or contentType …

I modified it to include ‘application’
if maintype.lower() in ('application', 'image', 'application/x-zip-compressed') or contentT

[2016-04-20 12:05] MikeMillerGIS commented on #221
Great, glad you figured it out, we added some checks to handle when the spatial reference is none.  If you could test your old workflow and ensure the code does not produce an error, that would be great.

[2016-04-20 12:15] #220 closed

[2016-04-20 12:32] RandySincoular opened #222 "Need Assistance with "adds_rows_to_service.py" sample script"
I have a feature layer in AGOL called: AEOutageData2.  The layer name is called: OutageEvent.  Layer: OutageEvent (ID:0).

It's ID is 0.  I am trying to get the 'adds_rows_to_service.py' sample working so I can eventually remove rows/records from this feature layer and add new ones.

I have tried using the REST endpoint of the feature layer and just the name of the feature layer and they do not wo

[2016-04-20 12:36] MikeMillerGIS commented on #222
Your URL is incorrect.  That url is for a feature layer, not a feature service.
Change
http://services3.arcgis.com/sqVn1QnQEPnGQy9r/arcgis/rest/services/AEOutageData2/FeatureServer/0
to
http://services3.arcgis.com/sqVn1QnQEPnGQy9r/arcgis/rest/services/AEOutageData2/FeatureServer

[2016-04-20 12:41] RandySincoular commented on #222
Hi Mike – I tried that and get the same result as before.  The variable ‘fs’ is still ‘None’.

Thanks,

Randy

From: Michael Miller [mailto:notifications@github.com]
Sent: Wednesday, April 20, 2016 7:37 AM
To: Esri/ArcREST
Cc: Sincoular, Randy; Author
Subject: Re: [Esri/ArcREST] Need Assistance with "adds_rows_to_service.py" sample script (#222)

Your URL is incorrect. That url is for a feature la

[2016-04-20 12:46] MikeMillerGIS commented on #222
Oh, layer name is the name of the layer, not the url.  Also, your item id 0, you need to use the ID of the portal item.  Why are you using this sample if you have the URL.

You just need to pass the URL into
fst.AddFeaturesToFeatureLayer(url=<FEATURE LAYER URL>, pathToFeatureClass=pathToFeatureClass,
                                                  chunksize=2000)

[2016-04-20 12:58] RandySincoular commented on #222
Hi Mike – ok, here is what I have tried.  I get the same results.  I am using the ID from the SERVICE URL.

The reason I picked this sample is because it was close to what I wanted to accomplish.  I didn’t see any other samples for calling “AddFeaturesToFeatureLayer”.  Do you happen to have a sample script that calls the ‘AddFeaturesToFeatureLayer’ for a jumpstart?

    itemId = "sqVn1QnQEPnGQy9r"

[2016-04-20 13:01] MikeMillerGIS commented on #222
Randy,
                That is not the item id, that is the org id.  The item id is the id in the url when you are looking at the item in the browser.  Not the rest url of the service.

All you need to do it this:

   fst = featureservicetools.featureservicetools(securityinfo)
        if fst.valid == False:
            print fst.message
        else:
                results =  fst.AddFeaturesToFea

[2016-04-20 13:08] Fresh-Prince commented on #213
Sweet. That worked. It does download the zipped gdb for me however it is naming the .gdb with a random base32 string. Thanks for your help.

[2016-04-20 14:18] RandySincoular commented on #222
Hi Mike – I appreciate your help and patience troubleshooting this.

I modified the script using your sample.  It looks like it gets to the point of reading records from my local FGDB – it only has 1 record.  Then it sits for a little bit and comes back with the error message.

Are there any limitations  to the FGDB?
The FGDB has the following fields: OBJECTID, SHAPE, DMS_BEGIN_TIME, NUM_CUST_OUT

[2016-04-20 14:24] MikeMillerGIS commented on #222
You need to use the url to the feature layer not the service in the code you provide.

[2016-04-20 14:50] RandySincoular commented on #222
Hi Mike – well, it looks like I am getting a step closer.  I added an additional feature to the FGDB, it now has 2 records.  The script runs much quicker and no errors.  The AGOL feature layer still has 19 records in it.  I also tried an export to a CSV and that also has only 19 records.  The 2 records from the FGDB are not getting added to the AGOL feature layer.

Output

calling AddFeatures ...

[2016-04-20 14:54] MikeMillerGIS commented on #222
FeatureLayer is http://services3.arcgis.com/sqVn1QnQEPnGQy9r/arcgis/rest/services/AEOutageData2/FeatureServer/0
FeatureService is http://services3.arcgis.com/sqVn1QnQEPnGQy9r/arcgis/rest/services/AEOutageData2/FeatureServer
Item ID is 9f59af52c6474b61bc561bd6096b8ef7

AddFeaturesToFeatureLayer expects the FeatureLayer

You are mixing the different ways here.

[2016-04-20 15:08] RandySincoular commented on #222
Hi Mike – I have the two variables set but am getting the error below:

Output

calling AddFeatures ...
2 features in layer
error in function: AddFeaturesToFeatureLayer
error on line: line 510
error in file name: C:\Python27\ArcGIS10.2\lib\site-packages\arcresthelper\featureservicetools.py
with error message: URLError: <urlopen error [Errno 10060] A connection attempt failed because the connected

[2016-04-20 15:12] MikeMillerGIS commented on #222
?That appears to be a proxy error, could you try this process outside your network?  The script looks correct.

[2016-04-20 16:10] pLeBlanc93 commented on #213
@Fresh-Prince that is as designed. See the [Create Replica JSON response](http://resources.arcgis.com/en/help/arcgis-rest-api/index.html#//02r3000000rw000000) example.

[code]

[2016-04-20 17:41] RandySincoular commented on #222
Hi Mike – that did it!  Once I connected outside of our firewall, I was able to append features from a FGDB to an AGOL service layer.  Thanks a bunch for helping to troubleshoot this.  You saved me a ton of time.   I need to talk to our security group next to find out what is blocking the connection.

Thanks again,

Randy

From: Michael Miller [mailto:notifications@github.com]
Sent: Wednesday, Apr

[2016-04-20 18:09] bnadler commented on #213
No problem.

ArcRest used to return the UNZIPPED gdb, now it is returning the zipped download.

Something changed, but at least we got it working…

[2016-04-20 19:01] #222 closed

[2016-04-20 19:23] DShokes commented on #221
Using the queried feature directly in the GeometryFilter still produces the same results.Perhaps this is because of the class differences.
[code]
Is the arcpy version of the geometry supposed to be returned from a feature?
some other checks
[code]

[2016-04-20 19:29] MikeMillerGIS commented on #221
Looks like Feature does return a arcpy geometry
@property
    def geometry(self):
        """returns the feature geometry"""
        if arcpyFound:
            if not self._wkid is None:
                sr = arcpy.SpatialReference(self._wkid)
            else:
                sr = None
            if self._geom is None:
                if self._dict.has_key('feature'):
                    self._ge

[2016-04-21 10:28] SergStol opened #224 "Setting a default basemap in Portal"
I want to configure a default basemap through ArcREST, is this possible? I can see in administration._portals there is ways to get defaults basemaps. No methods to change this though.

[2016-04-21 17:48] gEYEzer opened #225 "Trouble with append_fc_toservice.py sample"
Greetings,

I'm having trouble with the [append_fc_to_service.py](https://github.com/Esri/ArcREST/blob/master/samples/append_fc_to_service.py) sample.

I'm not sure if I need to provide more parameters in the securityinfo dictionary than I am.  Here are the items I have populated:

securityinfo['security_type'] = 'Portal'
securityinfo['username'] = "<myusername>"
securityinfo['password'] = "<mypas

[2016-04-21 17:50] MikeMillerGIS commented on #225
You org url should be
securityinfo['org_url'] = "http://www.arcgis.com"

[2016-04-21 17:54] gEYEzer commented on #225
Ah, Thanks Mike.  I thought org_url meant the url for the organization, and I took the organization name out of the url in my original post..

I changed it to http://www.arcgis.com and I am still getting the same error for the same line.

[2016-04-21 18:05] gEYEzer commented on #225
So I have passed each part of the securityinfo dictionary to the featureservicetools instantiator and it gets past that line.  Now I am getting an error saying

AttributeError: 'featureservicetools' object has no attribute '_valid'